[2017-09-18 07:12] ajafff opened #1 "Imports from node_modules are not included"
Consider the following code:

[code]

### Expected output:
[code]

### Actual output:
[code]
This results in an error when importing this generated declaration file, because `OnInit` cannot be found.

[2017-10-07 22:33] timocov commented on #1
Hi @ajafff,

sorry for late reply. I need to have a look into this case to fix it.

[2017-10-07 23:32] timocov commented on #1
@ajafff what do you think about the following case:
[code]
vs
[code]
?

According types for rxjs both cases is valid and seems that it should not break something when for source
[code]
the output will be
[code]

I guess a library should export all types from entry file but not sure if is it true in common case.

So, according this I have several solutions (because in one project we can have both i

[2017-10-08 01:18] timocov opened #2 "Add tests"

[2017-10-08 01:20] timocov opened #3 "Add triple-slash `types` directive for libraries"
Add `/// <reference types="library">` for white-listed libraries (for example `jquery`) if some types from `library` is used.

[2017-10-08 18:56] ajafff commented on #1
Always importing from the package root makes sense. At least I cannot think of any package that doesn't work that way.

[2017-10-08 19:00] #1 closed

[2017-10-08 19:02] timocov commented on #1
The new version will be published tomorrow. Thanks!

[2017-10-08 19:11] timocov opened #5 "JSDoc of exported item does not present in output"
**Input:**
[code]

**Actual output:**
[code]

**Expected output:**
[code]

[2017-10-08 19:35] timocov opened #6 "Add possibility to set wildcard for `--external-imports` and import from all deps"
From https://github.com/timocov/dts-bundle-generator/pull/4#issuecomment-335029981

Related to #3

[2017-10-12 07:43] #5 closed

[2017-10-12 21:24] timocov commented on #6
Need check that `typescript/lib/lib.*.d.ts` is not imported.

[2017-10-13 11:10] #3 closed

[2017-10-13 11:22] timocov opened #9 "Not only JSDoc added to exported types"
Related to #5

**Input:**
[code]

**Actual output:**
[code]

**Expected output:**
[code]

[2017-10-13 11:33] #9 closed

[2017-10-15 12:25] timocov opened #11 "Namespaces usage problems"
### Example 1
**Input**
[code]

**Output**
[code]
**Problems:**
1. Namespace `Types` contains unused and unexported interface `TypeB`.
2. ~Namespace `Types` still can be imported by `import { Types } from './file';` (but I guess this problem cannot be solved because of TypeScript's declaration files meaning).~ Solved by adding `export {}` at the end of generated file

Some examples moved to separa

[2017-10-16 12:32] #6 closed

[2017-10-31 07:47] timocov opened #12 "Add possibility to specify UMD module name"
The tool should add the following line if UMD namespace is specified:
[code]

[2017-10-31 15:39] #12 closed

[2017-11-01 09:31] timocov opened #13 "Add option to sort output by object's name"

[2018-02-06 23:33] timocov opened #14 "Add `project` cli option to specify tsconfig"

[2018-02-07 07:14] timocov opened #15 "Handle export default from non-entry files"

[2018-02-07 22:49] #15 closed

[2018-02-09 21:44] #14 closed

[2018-02-10 10:46] timocov opened #17 "`export default Name;` is not handled correctly"
**Code:**
[code]

**Actual output:**
[code]

**Expected output:**
[code]

[2018-02-10 13:58] #2 closed

[2018-03-07 18:54] danmarshall opened #18 "publish latest version"
Hello, thanks for this library 👍
It appears there is some new code in the repo that has not yet published to NPM@0.6.1
Is it ready to publish a patch or minor version?
Thanks!
-Dan

[2018-03-07 19:48] timocov commented on #18
Hi Dan,

thanks you for your attention 🙂! I am happy to know that someone use this library except me and my team.

Yes, there are some new code in master (fixes and tests) not published to npm yet.

Actually no one needed new version so that's why I have not published it.

I need some time to prepare new release. I hope it will be ready in a day.

[2018-03-07 20:37] danmarshall commented on #18
Great! 🥇
I was glad to find this library indeed. It's hard to believe that we need to tool around this issue of declaration files and bundles.

I am currently experiencing the bug where all of typescript types appear in my output. I think you've fixed this with an improved regex. I may have some feature requests after that . Cheers!

[2018-03-08 13:25] timocov commented on #18
[Version 1.0.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v1.0.0) has been released!

[2018-03-08 13:25] #18 closed

[2018-03-31 20:20] timocov opened #21 "Some imports makes adding unnecessary imports"
**entry.ts**
[code]

**some-npm-package/index.ts**
[code]

**Expected output:**
[code]

**Actual output:**
[code]

`MyType` should be imported from npm module.

[2018-03-31 20:22] timocov commented on #21
For *imported* types/interfaces from external modules we should check that they are imported directly (without any cross-nodes).

[2018-03-31 22:18] #21 closed

[2018-04-02 09:36] timocov opened #23 "Do not use jsdoc while sorting nodes"

[2018-04-20 09:24] e2tox opened #24 "Add handling `export =` for namespaces"
dts-bundle-generator@1.1.0

to reproduce

[code]

Error details:
[code]

[2018-04-20 09:36] timocov commented on #24
I have met this bug (see branch `external_imports_impr` or commit https://github.com/timocov/dts-bundle-generator/commit/59ccc3464a8209c40f0b0b010526393e1fb6b1a2), but it is not fixed yet.

I need to some time to refresh what I did there and fix this bug (AFAIK fix for this bug should be accompanied by some "big" CLI changes, but I am not sure for now).

Thanks for reporting!

[2018-04-20 23:55] e2tox commented on #24
Thank you for your great project. I already use it in https://github.com/agentframework/agentframework and I am plan to use in many other projects/library.

[2018-05-01 03:44] danmarshall opened #25 "/// <reference types="string" />emitted at top of file"
I'm not sure why this is happening, hoping there is a way to suppress it.

[2018-05-01 07:11] timocov commented on #25
You can specify what types should be "referenced" via `--external-types`. By default all libraries, which are detected as used in generated bundle, will be referenced in such way.

🤔 It is possible that we need to have some verbose output about the reason of usage external libraries (if we haven't it already).

For now you can provide a small example here and I will be able to provide you such inf

[2018-05-01 19:47] danmarshall commented on #25
Thanks for the offer! Do you know why "string" is considered a library?

[2018-05-01 20:24] timocov commented on #25
What version do you use?

The generated bundle does not use typings from `string.js`, right?

Unfortunately without small repro I cannot tell you why it is used in such way.

Some libraries (for example jqueryui) extend definitions from other libraries and may be referenced along with extendable library, but this case seems to be different.

[2018-05-01 20:26] danmarshall commented on #25
Oh, yes I do use `string.js` - thank you for clearing up this confusion. I thought it was the internal `string` type. 👍

[2018-05-01 20:26] #25 closed

[2018-05-03 22:26] timocov commented on #24
Moved from #11

Additional example of the problem:

[code]

For this code the tool will generate wrong definition as soon TypeScript has exports as `export = ts;` (and `ts` is namespace which merged into one from whole file):

[code]

[2018-05-03 22:34] timocov opened #27 "Add possibility to import types for libraries with typings from `@types`"
For now libraries with typings from `@types/` can be only referenced via triple-slash directive `/// <reference types="name" />`.

We need to add possibility to import such libraries via `import` statement. The main problem of this for now is using `declare module` statements to declare module.

[2018-05-03 22:50] timocov opened #29 "Prettify/format generated output"
After #28 the generated output can have some a little bit "unformatted" code ([here](https://github.com/timocov/dts-bundle-generator/blob/b7f4bac7e6f3defb653fce028a9e2c20e5c4bb36/tests/test-cases/extend-other-module/output.d.ts#L6-L8) for example). We need to format it to make more readable.

[2018-05-09 22:02] #27 closed

[2018-05-12 21:46] timocov opened #30 "Types from custom directory are includes in generated bundle"
If add custom `types` directory (in tsconfig) then all types are included into generated bundle, but should be treated in the same way as types from `node_modules`.

Bug added in #28.
Related issue #27.

[2018-05-16 08:15] timocov opened #34 "Add cli option to disallow adding `declare global` staements"
Related to 8ebefe7f0e56da97adcaefcaad93c558507041c3

[2018-05-16 08:16] #24 closed

[2018-05-16 12:31] #34 closed

[2018-05-24 09:29] e2tox opened #35 "Types from `@types` is not imported when Error object is introduced"
Hi timocov,

It's me again. I found a minor issue that EventEmitter is not imported when `Error` object is introduced. `index.d.ts` will be generate only when you removed the Error object from the parameters.

Following is the project to reproduce this issue. Fail with dts-bundle-generator@1.2.0

[code]

Thanks again

[2018-05-24 11:17] timocov commented on #35
Hi!

I confirm this bug. As a workaround, you can restrict `external-types` to the empty array (actually you need to be sure that `node` is not referenced in this way), but I'll try to fix the issue shortly.

[2018-05-24 11:27] #35 closed

[2018-05-24 11:31] timocov commented on #35
The version 1.2.1 with the fix is just published.

[2018-05-24 23:37] e2tox commented on #35
Thank you timocov. That's totally awesome!!!

[2018-05-25 01:50] e2tox opened #36 "Statement `export * from 'other-module'` is not emitted"
Hi timocov,

I want share with you the new findings from my testing of yesterday.

In typescript, we can export the types from other module directly as following. But the following two lines are not emitted.

*Input File*
[code]

*Actual Result*
    ~~export { Server } from 'http';~~
    ~~export * from 'http2';~~

*Expected Result*
[code]

Please use this repo to reproduce this finding

[code]

T

[2018-05-25 06:09] timocov commented on #36
Hi,

why do you need such re-export? Why do you re-export statements from other library/package? I guess you can just import it and then use it whenever you want and in result output you'll have import of this class/interface/etc.

[2018-05-25 06:16] timocov commented on #36
I want to understand what case you have because it looks strange - why somebody should import `Server` or something else from `http2` package from your package but not from `http2` or `http` package?

[2018-05-27 14:09] e2tox commented on #36
Hi timocov

Sorry make you confuse. There are few scenarios.

1. programmable exports

[code]

2. Type validations

[code]

If NPM install two copies of `your-class-interface` in node_modules. The instanceof operator will return false. To prevent this. we need modify 'your-class-impl' to re-export YourClass and modify the code as below.

[code]

3. Make something possible. Imaging the same code ca

[2018-05-28 11:38] timocov commented on #36
Ok, your description sounds reasonable, thanks!

I'll fix it soon.

[2018-05-31 22:08] rhuitl opened #37 "Building typings for a project that imports Three.JS fails"
I'm trying to build an amalgamated and flattened typings file with Three.JS as a dependency. I have narrowed down the problem to this minimal example. I would be very thankful for your help with this, the goal is to have a typings file for my own code and let it rely on typings from NPM for dependencies like Three.JS. I would rather not want to inline all the typings.

app.ts:
[code]
package.json:

[2018-05-31 22:45] timocov commented on #37
Hi!

It's correct behavior because this library has typing from `@types/` and that libraries has _additional_ special syntax to using (via triple-slash directive). So by default for such libraries I use this syntax instead of importing. But you can override this behavior via `--external-imports` (see #27) (and actually you did it).

This happens because `three` package export `Vector3`, so you nee

[2018-06-01 15:36] rhuitl opened #39 "Symlinked node_modules directory confuses dts-bundle-generator"
I have to admit, this is probably a quite uncommon use case, but still wanted to report it because maybe it can be fixed easily.

This is based on the same example as #37. Rename your node_modules directory and symlink it:
[code]
Then extract the typings. You will get a huge definitions file with a lot of inlined types. It seems like the symlink is confusing the logic that figures out how to deal

[2018-06-01 21:16] timocov commented on #39
Hi! It is interesting case. Let me take a look at it, but I'm not sure whether there is easy fix because I get filenames from TypeScript compiler and we do not know whether there were symlinks to file/folder or not.

[2018-06-01 21:22] #37 closed

[2018-06-01 21:53] #36 closed

[2018-06-02 14:11] timocov commented on #39
After looking over the issue I have the next conclusions:

1. Indeed, as I said before, I get filenames from TypeScript compiler and I cannot find there the "original path" (path which is requested to resolve).
1. Seems that I found a simple way to fix it - we need to just pass `undefined` or `(path) => path` as `CompilerHost.realpath` to the TypeScript. But I do not know what additional can happe

[2018-06-05 21:19] rhuitl commented on #39
Sounds like they added resolving of symlinks to support an `npm link` based workflow. That would break if you set that option and is probably the more important scenario to support out of the box. Maybe you can add the `realpath` argument to the CLI so I can add it to my `dts-bundle-generator` call?

[2018-06-10 11:37] timocov commented on #39
Sorry for long delay.

Please check #41 and confirm that it fix your problem. There I have added new CLI option to disable resolving symlinks (`--disable-symlinks-following` - resolving is enabled by default, so I believe it shouldn't break anything else).

I guess that with enabling this option we can get increased memory usage (because multiple files from `node_modules` can be one file, but trea

[2018-06-18 16:08] timocov commented on #39
https://github.com/timocov/dts-bundle-generator/releases/tag/v1.4.0

[2018-06-20 23:13] endymion00 opened #42 "Empty declaration file when processing entry points using export = class"
I'm developing a npm module and I wanted to generate an index.d.ts for including it in the module.
My entry point is like this:

src/index.ts:
[code]
Cache is the main class and is placed in /lib/main/cache.ts
The export = Cache is the only way I found that allows to use the library in the same way in both Typescript and Javascript:
[code]

When executing
`dts-bundle-generator -o dtsbundlegenerato

[2018-06-21 01:55] danmarshall opened #43 "Add 'declare' to classes"
Hi Evgeniy,

Some of the .d.ts files I am using have classes declared without the use of the `declare` keyword:
[code]
TypeScript does not seem to have any issue with these when they are in module files. However, after generating with dts-bundle-generator, TypeScript is not as forgiving??

![image](https://user-images.githubusercontent.com/11507384/41693696-520e37bc-74bb-11e8-8c8d-780451b29554.png

[2018-06-21 09:34] timocov commented on #42
Hi,

But why not `export { Cache } from './lib/main';` (or even `export * from './lib/main';`) and then `import { Cache } from 'mylib';`?

But anyway, it seems that it is easy to reproduce, but I need some time to investigate this problem and figure out the solution.

[2018-06-21 21:52] rhuitl commented on #39
After some testing I think this is not (completely) solved. The typings file has the standard ES typings in it when I used a symlinked node_modules directory (e.g. node_modules -> foobar):

[code]

I thought it was fixed because it magically works when you use ".node_modules" (what I used to test) instead of "foobar" or ".node_modules_develop".

[2018-06-21 21:58] timocov commented on #39
Try to add symlinked folder ("foobar" or ".node_modules_develop") to exclude list in tsconfig.

[2018-06-21 22:29] danmarshall opened #44 "Something went wrong - value cannot be null"
Hello, I hit [this error](https://github.com/timocov/dts-bundle-generator/blob/752a742c2fe8a47484fb6ad282bc7116e211829b/src/bundle-generator.ts#L379).

I was able to work around it by adding `return false` above the `throw`.

### Repro
My repo is https://github.com/danmarshall/vega-typings
clone
switch to the `umd2` branch
`npm install`
`npm run bundle`

[2018-06-22 01:38] danmarshall commented on #43
Ok, here is a repo which shows my issue:
https://github.com/danmarshall/dts-bundle-gen

[2018-06-22 09:08] timocov commented on #44
Hi,

wow, nice catch, thank you! 🙂

Unfortunately, seems this is not a good solution for this problem - if you add the code above in the `index.d.ts`, then in generated declaration you will not have `import` of `None`:

[code]

I'll prepare the fix for the problem soon.

[2018-06-22 20:19] #44 closed

[2018-06-22 20:24] #43 closed

[2018-06-22 20:34] timocov commented on #43
Version [1.5.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v1.5.0) is released.

[2018-06-22 20:35] timocov commented on #44
Version [1.5.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v1.5.0) is released.

[2018-06-22 20:36] danmarshall commented on #43
Thanks!!!

[2018-06-22 20:42] timocov commented on #39
Could you please provide new steps to reproduce to be sure that we talk about the same things?

[2018-06-26 09:08] rhuitl commented on #39
Yes, of course. Create a new directory. Place these files:

### app.ts
[code]

### package.json
[code]

### tsconfig.json
[code]

Run `npm install`
Run `npm run typings`, look at console output and the generated typings file which look like they should.

Move the `node_modules` directory and symlink it:
[code]

Run `npm run typings` again, this time the console has a lot of output and the typings

[2018-06-26 12:09] timocov commented on #39
Thank you. I found the problem.

TypeScript compiler does not use `CompilerHost.realpath` to get the path to the lib files. Instead, it uses `CompilerHost.getDefaultLibFileName` and `CompilerHost.getDefaultLibLocation`.

Currently, in `dts-bundle-generator` I use regex to detect that some file is TypeScript's lib file (see [here](https://github.com/timocov/dts-bundle-generator/blob/95ab4d8c954a5fb

[2018-06-29 21:28] #39 closed

[2018-06-29 21:39] timocov commented on #39
[Version 1.6.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v1.6.0) is published.

[2018-06-30 08:13] timocov opened #49 "Provide own dts with the package"

[2018-07-01 16:32] endymion00 commented on #42
@timocov export = Cache is the only way I found (after researching a lot) that allows to use the library in in the same way in Javascript and Typescript.
If I use `export { Cache } from './lib/main'`  or `export * from './lib/main'` then in Typescript it works but when transpiled to Javascript I must make an instance in a different way:
[code]

or
[code]

[2018-07-05 22:18] timocov commented on #42
Good news: I found the reason of this bug - it is wrong detecting that some node is exported, if it is exported via `export =`.

Bad news: this bug can be fixed after (or together with) #17.

[2018-08-08 22:06] unimonkiez opened #50 "Ignoring declares"
**Bug report**
I'm bundling my code with webpack, and I have some `declares` in my files:
**Input code** - `src/globals.d.ts`

[code]

Webpack bundles fine, and also my editor (vscode) recognizes everything, but when using you library (which is great btw!) it doesn't consider the `d.ts` files which are placed in `src` folder.

**Code** - `src/store/router/index.ts`
[code]

**Actual output**
[code]

[2018-08-09 05:49] timocov commented on #50
Hi,

do you have a little repro without your code? What is your `tsconfig.json`? Is your project compiled via `tsc` command? How do you add `src/globals.d.ts` to your project/compilation: `reference path`, `import`, `includes` in `tsconfig`, something else?

[2018-08-10 07:54] unimonkiez commented on #50
I'll create a repo demonstrating the problem.

[2018-08-10 17:41] unimonkiez commented on #50
Hey,
I've reproduced the bug on this [repo](https://github.com/unimonkiez/mono-js-boilerplate).
It has a branch called `bug-dts-bundle-generator`, so just trying to start the server will fail over there.

Simpler way this see the issue is just to run `node ./run-dts-bundle-generator-on-server.js` on the project's root, same issue.
The log while running `node ./run-dts-bundle-generator-on-server.js

[2018-08-10 18:07] timocov commented on #50
Ok, thank you! I will take a look to your repro at Monday.

For now, I can suggest you a workaround (I believe it should help to fix it) - you need to include your `globals.d.ts` file in the compilation process. You can do it, for example, by referencing the globals file where you use it via `/// <reference path` directive. Or you can create new tsconfig (for dts only for example) with force inclu

[2018-08-13 21:25] timocov commented on #50
If you have further questions/suggestions/thoughts - please tell me.

[2018-08-16 20:39] #50 closed

[2018-09-05 14:27] joseluisq opened #51 "Re-exporting support"
Hi! happy with your package. It works well at the moment.
However It would be great some __re-exporting support__, consider the following example:

__Input:__ `local.ts`

[code]

__Result:__ `local.d.ts`

[code]

*__Note:__ `declare` in "export function" is not necessary.*

[2018-09-05 17:15] timocov commented on #51
Hi,

try to use `export { Vue } from 'vue';`. I hope it should help in your case (see #36).

[2018-09-05 20:35] joseluisq commented on #51
I got an `Duplicate identifier...` error when I try to export it directly from importing. That occurs because I need to use `Vue` too.

[2018-09-06 12:15] timocov commented on #51
@joseluisq can you please provide your steps to reproduce (with installing packages, running commands, configs)? It seems that I have some problem with producing the error - the similar code is compiled without any errors:

[code]

[2018-09-10 08:32] joseluisq commented on #51
Sorry, I fixed. Now works.

[code]

But `export { Vue } from 'vue'` is a temporal solution to `export { Vue }`.

[2018-09-10 08:32] #51 closed

[2018-09-25 15:41] mxswat opened #52 "Error: Debug Failure. False expression"
Hello, I'm getting this error `Error: Debug Failure. False expression: Paths must either both be absolute or both be relative`.

It happens only when I'm trying to add a class that extends another class from another directory.

Can you please explain to me why I'm getting this error?

[2018-09-25 16:14] timocov commented on #52
Hi,

can you please provide a small repro for this error? Does it happened if you compile with `tsc`? What version of typescript do you have?

[2018-10-26 12:31] rhuitl opened #53 "Need warn about ts files (not dts) in compilation from node_modules"
I would like to include the typings for https://github.com/Lusito/typed-signals in my DTS bundle, however the extraction fails with "Error: Cannot find symbol for node: emitCollecting".

app.ts:
[code]
package.json:
[code]
tsconfig.json:
[code]
Run:
[code]
Output:
[code]
The method looks like this (see https://github.com/Lusito/typed-signals/blob/master/src/Signal.ts):
[code]

[2018-10-27 12:30] timocov commented on #53
Hi,

the error happens for `(signal as any).emitCollecting` expression.

But anyway it is bug and I'll fix it.

[2018-10-27 12:51] timocov commented on #53
@rhuitl There is some other thoughts about it: the library `typed-signals` in npm is as TypeScript code, not d.ts files + js files.

To remove js-output-specific stuff (like function's body, full class' implementation and so on) `dts-bundle-generator` build your input in d.ts (it did it in-memory) first, and then compile these d.ts to operate with types/declarations only. It didn't expect that in

[2018-11-01 13:31] rhuitl commented on #53
Yes you are right, with the correct file in the typings field, dts-bundle-generator works just fine. We could as well close this ticket now :) Thanks for your support.

[2018-11-05 12:39] AlCalzone opened #54 "Sub-Paths in imports and renamed imports generate invalid output"
**Bug report**
When trying to bundle the declaration files for a file with renamed imports and/or imports with sub-paths, the generated declaration file becomes invalid.

**Steps to reproduce**
1. Create a new repo
2. `npm init`
3. `npm i typescript dts-bundle-generator alcalzone-shared`
4. Create `tsconfig.json`:
[code]
5. create `a.ts`:
[code]
6. `node_modules\.bin\dts-bundle-generator -o index.

[2018-11-05 12:55] timocov commented on #54
Hi,

it is a [known limitation](https://github.com/timocov/dts-bundle-generator#known-limitations).

As workaround you can try to re-export `Merge` as the following (if you actually need to have renaming):

[code]

I don't know if there a way to fix it in right way. I can try to find a solution, but I cannot tell you for sure when it will be implemented (if there is such solution).

[2018-11-05 12:58] timocov commented on #54
Hm, it seems that my workaround may not work 🙁

[2018-11-05 13:37] timocov opened #55 "Add possibility to specify multiple entries"
For big projects the compilation can take a long time, and when you need to provide multiple declarations you'll run the tool multiple times and it'll compile the same files multiple times.

If we have a way to specify multiple entries, I hope we'll reduce the compilation time.

We need to save current API as well as possible to avoid big breaking changes.

I believe that multiple entries should b

[2018-11-05 13:52] timocov commented on #52
I going to close this issue due to inactivity. Please feel free to reopen it if needed.

[2018-11-05 13:52] #52 closed

[2018-11-05 14:38] AlCalzone commented on #54
Okay, I can get along without renaming, but what about `/types`? That part simply gets dropped in the compiled output.

[2018-11-05 15:34] timocov commented on #54
It is a good question.

On the one side, if the package provides d.ts file for its entry file (main/index), you need to use it instead of importing from some internal directory/file.

On the other hand, some packages bundle (or just have created separate "entry" file) their parts in separate entries and this is documented (and actually correct) way to import that part.

And finally, we have a tool

[2018-11-05 19:09] rhuitl opened #56 "Enum support"
I'm trying to use enums that have been extracted into a dts bundle, but it doesn't work. I import the enum like this:

[code]

The TS file looks like this:
[code]

The generated TSD like this:
[code]

It fails because the imported `MyEnum` is `undefined`. I kind of understand why it fails, because enums are just objects, and TSD is about declarations only. See also https://lukasbehal.com/2017-05-2

[2018-11-05 19:29] timocov commented on #56
Hi,

first of all - enums (not const enums) [are compiled in JS code as JS object](https://www.typescriptlang.org/play/index.html#src=export%20enum%20Foo%20%7B%20%0D%0A%09Bar%2C%0D%0A%09Baz%2C%0D%0A%7D). So, if you want to have enum in your bundle - you need to be sure that your code (especially file for which you generate the bundle) has such export. Inspiring the similar problem with classes the

[2018-11-05 19:47] rhuitl commented on #56
You're spot on, exporting the enums makes it work! Yes I use Webpack with `ts-loader`. I'll take a look at the `--fail-on-class` option. I guess it would be nice to fail the dts bundle generation if an enum is used anywhere but not exported.

[2018-11-06 10:55] #53 closed

[2018-11-06 11:03] timocov commented on #56
Hm, I believe such option should be propagated not only for enums, but for classes too (for every node affects JS code). For now `--fail-on-class` is applied for every class (not only non-exported).

[2018-11-06 11:27] timocov opened #58 "Fail if output contains non-exported node affects js code"
Related issue #56.

Well-known nodes: class, enum (not const enum), (possible) function.

[2018-11-08 10:01] bigopon commented on #17
@timocov Hi, has there been any progress related to this?

[2018-11-08 10:48] timocov commented on #17
Unfortunately not yet 🙁.

I'm working on the next version https://github.com/timocov/dts-bundle-generator/milestone/4 - let's try to fix this issue within this version.

[2018-11-10 00:32] psyrendust opened #59 "need option for external default imports"
**Bug report**
When running the generator on a npm module that includes their own types in the package like `eventemitter3` vs `@types/eventemitter3`, there is no way to pass the check option of the `dts-bundle-generator` due to the fact that `eventemitter3` uses a default export and the d.ts file that is generated uses `import { moduleA, moduleB } from 'module';`.

Including `@types/eventemitter3

[2018-11-10 15:58] timocov commented on #59
Hi,

as far I understand the main problem is that `dts-bundle-generator` does not respect type of the export (default of named), right?

If so, I believe that we don't need to have another option for that - we need to fix this bug and respect type of export.

[2018-11-10 19:39] timocov commented on #17
Hi @bigopon. I just created PR #61 with fixes for this issue. If you can test it for your case it would be awesome!

[2018-11-10 21:33] bigopon commented on #17
Cool, will give it a shot soon. Thanks @timocov

[2018-11-11 08:53] timocov commented on #59
Yeah, I agree. I believe that fix should be somewhere [here](https://github.com/timocov/dts-bundle-generator/blob/ca7842aca16801bf39cbb5eb78e15b48b72da8cf/src/bundle-generator.ts#L325-L346).

For now we do loop through all source files and check whether node is used somewhere in exported nodes (directly or transitive), and if so, we add import for library where this node is declared. I think that

[2018-11-11 08:55] timocov commented on #54
Perhaps we can fix it in the same way as in https://github.com/timocov/dts-bundle-generator/issues/59#issuecomment-437653491.

[2018-11-28 14:34] #42 closed

[2018-11-29 06:29] #17 closed

[2018-11-29 07:42] bigopon opened #62 "🐜 import default from namespace with esmoduleInterop true"
**Bug report**

**Input code**

There is an issue with import default from a namespace export, or module export related to `esModuleInterop: true`, and `--external-imports i18next`

[code]

**Output code**

[code]

**Expected output**

[code]

**Additional context**
  - flags: `--external-imports i18next`

[2018-11-29 19:31] timocov commented on #62
Currently it's one of [limitations](https://github.com/timocov/dts-bundle-generator#known-limitations) of `dts-bundle-generator` (it isn't able to handle `import * as name` imports). I believe it should be fixed in #59.

For now I would suggest you use the following workaround:
[code]

This code is handled by `dts-bundle-generator` correctly and works the same as yours one.

[2018-12-05 08:41] #55 closed

[2018-12-05 08:47] #49 closed

[2018-12-22 08:07] mweiczorek opened #65 "Multiple input files?"
How do I specify multiple .ts/.d.ts files as input? Or to specify a directory of d.ts files to merge? My application doesn't have a starting point per se, so some files are being omitted. Please advise.

[2018-12-22 08:50] mweiczorek commented on #65
Hi. The application consists of many singleton files, but they're all imported and combined in a standard index.js file (that requires .js from the  projects ./lib directory where compiled .js files reside), but I solved the issue by writing a .ts file that does the same thing, but imports .ts files from the project's ./src directory.

I haven't found a way to automate this, since they require/imp

[2018-12-22 08:58] mweiczorek commented on #65
I also run the command:
`dts-bundle-generator index.ts -o index.d.ts`
But I get error:  `error TS6053: File 'index.d.ts' not found.`

I create an empty 'index.d.ts' file, run the command again, and I get this error:
`error TS6053: File 'index.d.ts' not found.`

[2018-12-23 11:50] mweiczorek commented on #65
Hi, my tsconfig.json file is here:
https://github.com/mweiczorek/chromecast-js/blob/master/tsconfig.json

It may be that I'm not doing things right, I've never submitted a consumable package before. I have a few projects that need this library, so it's easier to publish to NPM than copy files from one project to another.

[2018-12-23 15:55] timocov commented on #65
I just cloned this repo, install deps and run `npm run dts` and it compiles successfully. Could you provide steps to reproduce?

[2019-01-06 18:26] wKovacs64 opened #66 "Could not find a declaration file for module"
**Bug report**

I am importing a specific file from a library on npm, e.g. `import file1 from 'someLib/src/file1'`. To get its types to work (from `@types/someLib`), I have to basically reassign its types to that specific file by including a separate `someLib.d.ts` declaration file in my project that looks like this:
[code]
Both `tsc` and my IDE integration are okay with this and pick up the types

[2019-01-06 19:35] timocov commented on #66
I guess that at the moment you have the similar problem, if we apply the following patch to 4e516cd:

[code]

There are the following changes:

1. Removed specific for the test case `tsconfig.json` file with overridden `typeRoots` compiler option.
1. Added triple-slash directive in the input file of the test.

Yeah, in this case we'll have additional output in the generated file:
[code]

[2019-01-06 19:42] wKovacs64 commented on #66
I tried the first suggestion (custom `typeRoots`) but it didn't appear to do anything different. I still got the following:
[code]
When I try the triple-slash directive, it generates the types but I get this on validation:
[code]

[2019-01-06 19:43] timocov commented on #66
So, summarizing the above this is what you need to do to fix this problem:

1. Create folder in your project with custom types (for example, `./src/types` or `./types` or any other as you wish - a name and a path of the folder does not matter).
1. Add this folder to your `tsconfig.json` as `typeRoots` - see http://www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types (d

[2019-01-06 19:44] timocov commented on #66
Can I take a look at project you're working on to play with this?

[2019-01-06 19:46] wKovacs64 commented on #66
Sure, it's https://github.com/wKovacs64/hibp

The custom type is currently in `src/internal/jssha.d.ts` but I can move it if needed.

[2019-01-06 19:46] timocov commented on #65
Hey @mweiczorek, do you have any updates on this?

[2019-01-06 19:48] timocov commented on #66
Great! What steps to reproduce the problem and what branch I need to checkout?

[2019-01-06 19:50] wKovacs64 commented on #66
Remove the `// @ts-ignore` at the top of `src/pwnedPassword.ts` and run `yarn build:types`. The current branch (develop) is fine.

[2019-01-06 19:51] timocov commented on #66
Ok, let me check.

[2019-01-06 20:12] wKovacs64 commented on #66
Thanks. Sorry, I was trying to keep the problem generic enough that you wouldn't have to mess with my specific project, but sometimes concrete examples are best I guess. 🙂

[2019-01-06 21:34] timocov commented on #66
Notes for someone who want to fix this:

- See my comment https://github.com/timocov/dts-bundle-generator/issues/66#issuecomment-451776172.
- We already have function, which detects whether file from `typeRoots` or not (see [this code](https://github.com/timocov/dts-bundle-generator/blob/4e516cd4a00bf7ea4abfa11af296efad48aeb91c/src/module-info.ts#L61-L65)). It is possible that it might help (or th

[2019-01-06 22:19] wKovacs64 commented on #66
Interesting, nice find! I see also including `jssha-src` in the `types` array in `tsconfig.json` works as an alternative to the triple-slash reference, which I think I prefer.
[code]
Additionally, it seems I can nest the custom module declaration in a structure that mirrors the actual types and refer to it as such (replacing `jssha-src` with `jssha/src`):

![image](https://user-images.githubuserco

[2019-01-06 23:01] timocov commented on #66
Yeah, it looks great. I forgot about `types` and didn't check it.

Actually I thought (for a moment) that this is a bug in TypeScript, but your idea gives insight - the reason of this "strange" behavior (that TypeScript doesn't add all types from `typeRoots` to the compilation) is `types` compiler option. Thank you!

I don't think that there is a bug in `dts-bundle-generator` anymore 🙂. If your pr

[2019-01-06 23:07] wKovacs64 commented on #66
Great, no bug after all! Thanks again.

[2019-01-06 23:07] #66 closed

[2019-01-07 08:56] #65 closed

[2019-01-17 01:26] octogonz opened #68 "Tools comparisson (dts-bundle-generator, api-extractor, rollup-plugin-dts, npm-dts)"
@timocov FYI we've been working on a tool [API Extractor](https://api-extractor.com/pages/basics/intro/) that seems to have similar goals to **dts-bundle-generator**.  It might be interesting to compare the features and goals of the two projects, and see if anything can be shared between them.

[2019-01-17 08:39] timocov commented on #68
Hi @pgonzal,

thank you for your interest in the project!

After slight looking up I see the next differences:

1. `dts-bundle-generator` does not require configure anything - you can just run it via command line and it'll just work. But you're able to configure some stuff if you need it (see https://github.com/timocov/dts-bundle-generator#usage).
1. To run `dts-bundle-generator` you don't need to

[2019-01-17 10:21] pgonzal commented on #68
Thanks for writing up this comparison!  It's very interesting.

Right, API Extractor processes .d.ts files instead of .ts files.  This supports the usage of preprocessors (e.g. a .js -> .d.ts generator), and also simplifies the processing that we do, since .d.ts files are in a normalized form

What do you mean by "follow dependencies"?  For locally referenced files `import { X } from './X';` it do

[2019-01-17 10:52] timocov commented on #68
AFAIK some `dts-bundle-generator`'s users use it with their `d.ts` files and it works fine. Actually there is no restrictions to use it only with `.ts` files, but it is just simpler in a common case.

Oh, great! It is quite possible that I just didn't get it work in a proper way 🙁

👌 Will know, thanks!

In my case, I've tried to run in a project with 3.2.1 TypeScript, and it tried to use `lib` fil

[2019-01-17 12:13] timocov opened #69 "Add option to create common chunk from multiple entry points"

[2019-01-17 12:13] timocov commented on #68
It sounds like a good new issue 🙂 #69

[2019-01-19 11:32] badeball opened #70 "Generated declaration file contains import statements"
**Bug report**

I'm trying to utilize this tool, but I experience an issue where the generated bundle contains an import statement (which I obviously am trying to avoid by creating a bundle). I've uploaded the example [here](https://gist.github.com/badeball/6663e9d2a7437bffadbd488ccfdb4cec).

Is this a bug or am I just doing something wrong?

The *actual output* can be generated with the following

[2019-01-19 20:33] timocov commented on #70
Hi,

it looks like the TypeScript generates `import("./foo").FooNode` for return type of `SomeClass::foo` method. I'm not sure that we can handle this correctly as soon `dts-bundle-generator` does not change declaration, it just filter it with unused nodes and adds/removes the `export` keyword (maybe something more, but still not so "big thing" as change return type). But I'll investigate this.

A

[2019-01-20 11:04] badeball commented on #70
Thanks for the quick response! The workaround works splendidly. I'll leave it up to you to close / keep the issue open and understand if this is a "no fix" kind of thing.

[2019-01-23 07:57] ben-mckernan opened #71 "Imports globals from @types/react"
**Bug report**
When using the external-imports flag with react, the tools doesn't seem to recognize that certain types are global and imports them from react in the declaration file. This causes an error during the generated file check.

[code]

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

[2019-01-26 12:32] timocov commented on #71
Hi,

sorry for long answer - I was a little bit busy last week 🙁

Your code doesn't compile in clean env. Here what I did:

1. `mkdir temp`
1. Add `index.tsx` file with your content
1. `npm install typescript @types/react dts-bundle-generator`
1. `./node_modules/.bin/tsc --init`
1. Add `"lib": ["dom", "es5"]` to `tsconfig.json`
1. Add `"jsx": "react"` to `tsconfig.json`
1. Run `./node_modules/.bin

[2019-01-26 13:00] timocov commented on #70
As soon it can be easily fixed via adding type of return value and possible hard way to fix it I'm going to close it for now. Feel free to reopen if you'll have problems with that.

[2019-01-26 13:00] #70 closed

[2019-02-12 21:31] timocov commented on #71
Hi @ben-mckernan,

sorry for long delay of answer - I was a little bit busy last week.

Yes, you'll have an error for react types if you use `--external-imports` flag for it instead of `--external-types`. I need to debug why dts-bundle-generator treats `HTMLButtonElement` as interface declared in react's types. Just let me check and I'll be back with results in couple of days.

I believe there is

[2019-02-13 09:57] Swatinem opened #72 "Override `skipLibCheck` option when checking output file validity"
https://github.com/timocov/dts-bundle-generator/blob/661226c5684a8c198c2841e8badc8fb1af3409fc/src/bin/dts-bundle-generator.ts#L215-L223

It should be trivial to just override that option and check the output file regardless of what was set.

[2019-02-13 10:43] Swatinem commented on #68
Hi, and let me also chime in as the maintainer of [rollup-plugin-dts](https://github.com/Swatinem/rollup-plugin-dts)

As I have also mentioned in my README, I have tried `api-extractor` as well, but my biggest hurdle was also the configuration as @timocov also mentioned. In the end I couldn’t get it to work at all and just gave up.

So I have nothing to actually compare the *output quality and dif

[2019-02-13 19:49] timocov commented on #71
Hm, it looks like the reason of that import is [this file](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/global.d.ts) with definitions of all DOM elements...

[2019-02-13 21:37] timocov commented on #71
So, I confirm this bug, and I'll fix it soon.

_(this issue is a little bit related to #59)_

[2019-02-14 09:56] timocov commented on #72
Yeah, you're right! If somebody don't want to check generated output - it can use `--no-check` CLI flag for that.

[2019-02-14 18:58] #71 closed

[2019-02-14 19:05] #72 closed

[2019-02-14 19:33] timocov commented on #71
Version [v2.1.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v2.1.0) has been published! 🎉

[2019-02-14 19:33] timocov commented on #72
Version [v2.1.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v2.1.0) has been published! 🎉

[2019-02-15 01:11] octogonz commented on #68
`compilerOptions.stripInternal` is very limited.  Last time I tried it, if you did this...

[code]

...it would strip `Base` because it found the `@internal` substring in there, resulting in a `Child` definition that does not compile.  Whereas API Extractor relies on the [TSDoc](https://github.com/Microsft/tsdoc) grammar to understand that `@internal` is not a tag in this context.  Also, if someth

[2019-02-15 08:20] Swatinem commented on #68
puh, that is definitely something that has to be fixed upstream then.

Those are definitely valid points. Luckily, when you create small focused libraries, perf is not a problem.

Regarding configuration, I personally would like things to be as zero-config as possible.
`rollup-plugin-dts` comes extremely close to that, since this is basically the *only* thing you need:
https://github.com/Swatinem/

[2019-02-27 23:56] drudv commented on #50
I have the same problem with a code that imports .scss files. Initially I had multiple errors like: `error TS2307: Cannot find module './whatever.scss'.` and then by your suggestion, I added `/// <reference path="./lib.d.ts" />` that contains the following:

[code]

Now it compiles, but the result check fails with: `'export' modifier cannot be applied to ambient modules and module augmentations si

[2019-03-02 16:28] timocov commented on #50
Hey @drudv,

Yeah, you need to add your declaration of `declare module '*.scss' ` via `typeRoots` compiler option, not via `reference path`.

[2019-03-03 21:23] drudv commented on #50
Hey @timocov

Thanks for the help. I tried to add the direction containing scss type definitions to `typeRoots`, but still see this error. Looks like it's because `typeRoots` describes global types, but I import scss files from my project. Also according to [this comment](https://github.com/Microsoft/TypeScript/issues/22217#issuecomment-370019383) `typeRoots` is not recommended for use (it's prese

[2019-03-07 11:00] foxable opened #74 "Imports from libraries outside @types and typeRoots are inlined"
**Bug report**

Imports from libraries outside of `@types` and `typeRoots` are always inlined, even when explicitly specified as external import.

**Input code**

foo.ts
[code]

externals/bar.d.ts
[code]

tsconfig.json
[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
CLI options:
[code]

[2019-03-07 12:51] timocov commented on #50
@drudv Sorry for long delay.

I'm not sure that it's a reason of this error. I've used this approach in product I'm working on and it works fine for us. Is it your project private/not open-sourced?

It looks like @foxable already created an issue to fix it without applying `typeRoots` - #74.

[2019-03-07 13:01] timocov commented on #74
Hi @foxable,

I'm not familiar with `paths` compiler option yet, but can you please tell me what the difference between using `paths` and using `declare module "bar" {}`?

If `bar` is an external module, should we "add it to the project" via `paths` or via `declare module "bar"`? Until now I prefer to use `declare module` for such cases as soon it is external module and should be declared via `dec

[2019-03-07 13:53] foxable commented on #74
Hi @timocov,

you can use the `paths` compiler option to tell TS where to find the definition of modules that are not under `@types` or `typeRoots`. This can be used to divide large projects into independent modules. Imagine the following folder structure:

* module1
  * index.ts
  * tsconfig.json
* module2 (depends on module1)
  * index.ts
  * tsconfig.json

Without a  `paths` configuration you w

[2019-03-08 23:33] timocov opened #75 "Add option to don't inline `declare module` statements of external modules"
Related: #28, https://github.com/timocov/dts-bundle-generator/issues/50#issuecomment-468079221

We need to have an option to don't inline `declare module 'external-module' {}` statements (see https://github.com/timocov/dts-bundle-generator/issues/50#issuecomment-468079221).

[2019-03-08 23:34] timocov commented on #50
Hey @drudv,

it seems that #74 is not actually about your problem. I just created another issue for that - #75. I'll fix it soon.

[2019-03-08 23:42] timocov commented on #74
@foxable thank you for clarification!

I need to play with that, but anyway it looks like a bug and we need to fix it.

(_but if you can provide an example of repro where I can debug the issue - it would be awesome_)

[2019-03-09 10:44] foxable commented on #74
@timocov thank you for adding this bug to the next milestone.

I think a good approach could be to treat every `import` without a relative path as an external module w.r.t the `libraries` bundle options. Then you could check if the module either lies under `node_modules`, `@types` or `typeRoots`, or if it's mapped using `paths`.

Regarding a repro, do you need more examples or something ready to c

[2019-03-09 11:50] timocov commented on #74
Yeah, something like that - with folders, sources and tsconfigs (then I'll use it that example as test case).

[2019-03-09 12:30] timocov commented on #74
At first thought it looks like the issue has the same reason as #54, https://github.com/timocov/dts-bundle-generator/issues/59#issuecomment-437653491 and #62.

[2019-03-09 13:21] foxable commented on #74
You can find the repro here: [foxable/dts-bundle-generator-paths-bug](https://github.com/foxable/dts-bundle-generator-paths-bug)

If you have any further questions or need some help feel free to ask.

[2019-03-12 15:05] timocov opened #77 "Add names of classes to log when failOnClass is enabled"
https://github.com/timocov/dts-bundle-generator/blob/072d3a9385f932a5696e08824ed93d956131b021/src/bundle-generator.ts#L201-L206

[2019-03-14 09:13] foxable commented on #74
I created PR #78 to fix the bug, which also includes a test case.

[2019-03-23 15:37] timocov commented on #74
@foxable Wow, that's amazing! Let's continue discussion there.

[2019-03-23 16:10] #75 closed

[2019-03-23 16:32] #77 closed

[2019-03-24 22:24] #23 closed

[2019-03-25 22:51] timocov commented on #58
Why: if generated dts contains nodes like classes, functions, enums, such nodes can be imported _even if they aren't exported_. This may cause runtime errors (see #56). So, we need to fail if this happens.

[2019-03-26 17:14] timocov commented on #58
Related issue: https://github.com/Microsoft/TypeScript/issues/30598

[2019-03-29 15:24] medfreeman opened #82 "Error with tsconfig `extends` option set to a node module path"
**Bug report**

Having the `extends` option set in tsconfig.json to a path referring to a node module results in an error.

**Input code**

*tsconfig.json*
[code]

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**

After investigation it seems that the `basePath` argument (3rd) to [`ts.parseJsonConfigFileContent`](https://github.com/timocov/dts-bundle-generator

[2019-04-01 09:35] antoninbouchal opened #84 "Cannot find namespace 'fs'"
Hi.

When I use node core packages as `fs` there is issue with generating declaration file via bundle.

When I have in my code this:
[code]

dts-bundle-generator create declaration similar to this:
[code]

# I created repository with whole problem here:
https://github.com/Scorpio1337/dts-generator-issue

Maybe I doing something wrong.

For solution I used hack with require (it is in repo too), but

[2019-04-02 21:28] timocov commented on #84
Hi @Scorpio1337,

actually this is second known limitation (see https://github.com/timocov/dts-bundle-generator/blob/master/README.md#known-limitations). I believe this issue can be solved along with other issues marked with https://github.com/timocov/dts-bundle-generator/issues?q=is%3Aissue+is%3Aopen+label%3Adetect-import-path-problem label.

As workaround you can try to import without renaming,

[2019-04-02 21:47] timocov commented on #58
After https://github.com/timocov/dts-bundle-generator/pull/81#issuecomment-479215513 this is no breaking change more.

[2019-04-02 22:10] #58 closed

[2019-04-10 18:28] #82 closed

[2019-04-12 06:56] foxable commented on #74
The PR was closed, because it became obsolete. The problem can be solved using a `package.json` with local dependencies defined as [local paths](https://docs.npmjs.com/files/package.json#local-paths). This way, they appear under `node_modules` to both TypeScript and `dts-bundle-generator` and can be used like any other library.

[2019-04-12 06:56] #74 closed

[2019-04-12 16:41] timocov commented on #82
Version 3.0.0 has been published!

[2019-04-18 07:40] shrinktofit opened #88 "Feature request: ignore symbols from js modules."
![image](https://user-images.githubusercontent.com/28807867/56344475-1e4e3d00-61f0-11e9-9bd8-26a6232775aa.png)

My project mixes the use of ts and js. When a ts import/export a js module, the declaration file (directly generated by tsc) contain errors, so the dts-bundle-generator cannot read it and generate bundled one.

[2019-04-23 12:29] timocov commented on #88
Hi,

can you please provide a repro of your problem? I don't think that understand you correctly (also I don't know Chinese and don't know what errors you have on the screenshot).

[2019-05-22 22:13] jeremy-coleman opened #89 "Possible to use as ts bundler without transpile?"
Ive been trying to find a good solution for bundling ts files without transpiling, essentially The same thing this does, except code (remaining as ts) not just types. Any thoughts?

[2019-05-25 06:33] timocov commented on #89
Hey, did I understand you correctly, that you want to bundle TypeScript code, right? If so, could you please tell why do you need this?)

[2019-05-25 09:17] jeremy-coleman commented on #89
yes that is correct. There are many reasons to list, but generally how typescript files are resolved and the scope of the members within the code differ based on the bundler AND parser, leading to many issues. Using tsc to combine them into a valid program is good for long-term code usability.

[2019-05-28 08:35] WaiSiuKei commented on #74
I am encountering the same problem in [my monorepo](https://github.com/WaiSiuKei/fin), and disappointedly to find that Local Paths will limit users from publishing packages to NPM.

[2019-05-28 09:21] foxable commented on #74
You are free to publish packages to NPM when using local paths. The only thing you need to ensure is that the package name and the name of the dependency pointing to the local path are identical.

[2019-05-29 07:41] WaiSiuKei opened #90 "Feature request: line terminator option"
Seems that the default line terminator is CRLF, it will be great if Mac users can specify a LF line terminator.

[2019-05-29 15:39] timocov commented on #90
Hi,

I believe everywhere in this repo [I have used `\n` terminator for output](https://github.com/timocov/dts-bundle-generator/blob/814ea3b7616b1a32c347e15c143dd7f39afffde1/src/generate-output.ts#L23-L62).

I'm not sure, but it looks like this line ending is added by TypeScript compiler. Did you have a `newLine` compiler option set?

[2019-05-30 01:26] WaiSiuKei commented on #90
Thanks for your reply, the `newLine` options does works.

[2019-05-30 01:26] #90 closed

[2019-05-30 06:03] WaiSiuKei opened #91 "Question: sibling dependencies from monorepo will be inlined?"
I am developing a monorepo [https://github.com/WaiSiuKei/fin](https://github.com/WaiSiuKei/fin) with yarn workspace feature and lerna, when building [one package](https://github.com/WaiSiuKei/fin/tree/master/packages/keyboard) which dependents on its [sibling](https://github.com/WaiSiuKei/fin/tree/master/packages/platform), I find the defination of that silbing is inlined. I have tried to add foll

[2019-05-30 10:46] timocov commented on #89
I didn't face a tool for that (actually I event don't know why I need to use it at all). But as an idea you can start from rollup and what it does (for example, afaik https://github.com/Swatinem/rollup-plugin-dts uses that approach to bundle dts).

[2019-05-30 11:01] timocov commented on #91
Hm, interesting... Can you please try to disable `followSymlinks` config option and try again? It might be that lerna and/yarn uses symlinks, which are resolved by the compiler to original one and `dts-bundle-generator` treats that files as local ones.

[2019-05-30 11:06] timocov commented on #91
The original problem (that `dts-bundle-generator` doesn't respect import's path you use) is "a little bit" complicated. We even have a label [detect-import-path-problem](https://github.com/timocov/dts-bundle-generator/issues?q=is%3Aissue+is%3Aopen+label%3Adetect-import-path-problem) for such issues, but for now I'm not sure how to fix it properly. I think about this issue time to time, but haven't

[2019-05-31 03:04] WaiSiuKei commented on #91
Thank you very much, `followSymlinks: false` works like a charm.

[2019-05-31 03:04] #91 closed

[2019-05-31 07:21] timocov opened #92 "Add 'declare' to variables"
**Bug report**

The same as in #43, but for variables/constants (see https://github.com/timocov/dts-bundle-generator/pull/46#issuecomment-497429341).

/cc @aleclarson

[2019-05-31 11:39] timocov opened #93 "Add support for composite projects"

[2019-06-05 17:09] aleclarson commented on #68
I just found [dts-generator](https://github.com/SitePen/dts-generator) by SitePen.

cc @dylans Could you explain how your package differs from the others mentioned in this thread? 😄

[2019-06-05 19:14] aleclarson opened #94 "Support for import path rewriting"
I use `paths` in `tsconfig.json` and `tsc` doesn't transform `import` paths automatically.

Basically, just need a way to intercept `import` statements (using the programmatic API) so I can change where they are pointing.

Alternatively, this package could respect `paths` in `tsconfig.json` and do the mapping for me, which could be opt-in if that's a concern.

[2019-06-05 19:18] timocov commented on #94
Do you have a repo with repro or any example? For now I'm not sure that understand you correctly 🙁

[2019-06-05 19:24] timocov commented on #88
I'm going to close the issue. If you'll have any updates, feel free to reopen it.

[2019-06-05 19:24] #88 closed

[2019-06-05 19:27] aleclarson commented on #94
I use the `compilerOptions.paths` option in `tsconfig.json` to shorten some of my `import` paths.
[Read this](https://decembersoft.com/posts/say-goodbye-to-relative-paths-in-typescript-imports/) for more details.

Currently, `tsc` emits any `import` paths as-is, even if `compilerOptions.paths` is being used.
[Read this](https://github.com/microsoft/TypeScript/issues/10866) for more details.

So th

[2019-06-05 19:33] aleclarson commented on #53
The `tsc` executable has support for non-transpiled dependencies, so why shouldn't `dts-bundle-generator`? For example, if I import types from a non-transpiled dependency, `tsc` still generates the `.d.ts` modules without complaint.

[2019-06-05 19:35] timocov commented on #94
Yeah, I've know about `paths` compiler options and for what it should be used/how it works. So, did you mean that `dts-bundle-generator` does not respect that option? If so, do you run it after `tsc` over `d.ts` files or just for `.ts` files? I just want to understand what doesn't work and what did you do to get incorrect behavior 🙂

[2019-06-05 19:36] timocov commented on #94
If you have a repo where you're able to reproduce this error, it would be awesome.

[2019-06-05 19:39] timocov commented on #53
It does? Wow, I didn't know that! If it's really does it, I believe this bug can be fixed.

But just for an information - what's a case you publish non-transpiled sources? Who'll execute/compile it when somebody install it? I'm not sure if it's correct to do this.

[2019-06-05 20:13] aleclarson commented on #53
Try this: https://github.com/aleclarson/repro/tree/dts-1

[2019-06-05 20:18] timocov commented on #53
Oh, I see. Just add `--disable-symlinks-following` CLI option and it looks like this fixes the problem.

[2019-06-05 20:21] aleclarson commented on #94
Try this: https://github.com/aleclarson/repro/tree/dts-2

Notice how `dts-bundle-generator` generates this:
[code]

And `tsc` generates this:
[code]

[2019-06-05 20:22] timocov commented on #53
Why do you decide that TypeScript compiler compiles node_modules folder? I see that after building `foo` package `bar` doesn't have `index.d.ts` anywhere.

[2019-06-05 20:24] timocov commented on #94
Which one import is correct: `@foo/bar` or just `bar`?

[2019-06-05 20:27] timocov commented on #94
Also, did you try to disable symlinks following for `dts-bundle-generator`? See https://github.com/timocov/dts-bundle-generator/issues/91#issuecomment-497292389 and https://github.com/timocov/dts-bundle-generator/issues/53#issuecomment-499239039

[2019-06-05 20:38] aleclarson commented on #53
If you ask me, inlining should be opt-in. But yes, that is a good workaround. 👍

[2019-06-05 20:40] timocov commented on #53
What do you mean?

[2019-06-05 20:50] aleclarson commented on #53
By default, when `dts-bundle-generator` finds a symlink, it follows the symlink and includes its type definitions in the `.d.ts` bundle. But that should only happen for symlinks that point to internal modules. Symlinks to external modules should be treated as if `--disable-symlink-following` was given.

Yeah, I didn't mean to imply that. Notice how `tsc` doesn't throw an error when a dependency's

[2019-06-05 20:51] aleclarson commented on #94
Based on what I've said in this thread, I would say `@foo/bar` is the correct one for `dts-bundle-generator` to output.

[2019-06-05 20:58] Swatinem commented on #68
BTW, I also did a really quick research around this topic and I found https://github.com/TypeStrong/dts-bundle, but the latest commit was 2 years ago so this seems pretty dead to me.
I also saw a webpack plugin for types, but can’t remember what it was.

[2019-06-05 21:04] timocov commented on #94
Sorry, I'm a little bit confused. Is `tsc`'s output incorrect for you? What's a case when you need to treat one node_module package as another node_module package, but only for tsc (without linking it via `package.json`/yarn/npm)? In this case I would say that `tsc`'s output is more accurate and `dts-bundle-generator` should generate the same one, not with `@foo/bar`.

Sorry for boring you, but I

[2019-06-05 21:07] timocov commented on #68
There is also https://github.com/nomaed/dts-builder.

[2019-06-05 21:35] timocov commented on #53
I can't imagine a case where it's ok, even for monorepos, because it would be better to have compiled `.d.ts` files instead of `.ts` ones to avoid unnecessary compilation of source files which wouldn't generate an output.

Also, I believe that in case of monorepo you need to compile dependencies first and generate `.d.ts` files for them (it'll reduce a building time as well, because parsing `.d.ts

[2019-06-05 21:54] aleclarson commented on #53
Each package contains both `package.json` and `dist/package.json` modules. When linked together, the packages use `package.json` instead of `dist/package.json`, because I build them all in parallel (which speeds up builds a ton). If they used `dist/package.json`, I wouldn't be able to build in parallel, because I wouldn't be able to guarantee that the `dist` directory exists in time.

In my scenar

[2019-06-05 22:08] aleclarson commented on #94
No worries. Thank you for your time! ❤️

In the `react-spring` monorepo, I'm using `compilerOptions.paths` so I can import `shared/*` as a shortcut for `@react-spring/shared/src/*` during local development (see [here](https://github.com/react-spring/react-spring/blob/f365c71a55f17605a4595dc4f7820eb9b2d6e4c8/tsconfig.json#L11-L14)).

Like it says in https://github.com/microsoft/TypeScript/issues/10

[2019-06-12 18:08] vytenisu commented on #68
Hello there!

Let me also hop in with [npm-dts](https://www.npmjs.com/package/npm-dts) module I have put together to make it easy with some use cases.

Basically I was a user of dts-generator and encountered a problem at some point (https://github.com/SitePen/dts-generator/issues/121). After trying to solve it for a while I decided to write a simple tool myself which would have less mandatory comm

[2019-07-13 20:20] timocov commented on #92
It looks like it isn't issue - see https://github.com/timocov/dts-bundle-generator/pull/46#issuecomment-511150439.

[2019-07-14 12:50] #89 closed

[2019-07-14 13:22] timocov opened #96 "Support incremental builds"
For API see https://github.com/microsoft/TypeScript/pull/31432

[2019-07-14 14:19] timocov commented on #96
Related #93

[2019-07-14 15:06] timocov commented on #53
I'm back after looong time :)

Hm, it's a little bit unexpected for me. I believe it speeds up builds, but it confuses.

Yeah, I need. There is a lot of issues caused by that - https://github.com/timocov/dts-bundle-generator/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Adetect-import-path-problem

I believe in this case you need to have resolver/scheduler which will make a build plan and de

[2019-07-14 15:24] timocov commented on #94
I'm not sure that it's what `dts-bundle-generator` should do. Afaik webpack (for instance) doesn't change your imports while bundles the code. Bundler should bundle the code and build something like "library", but not change external linking.

For path-rewriting I would suggest you use custom transformations of the TypeScript compiler (something like https://github.com/LeDDGroup/typescript-transfo

[2019-07-14 15:25] timocov commented on #92
Just to be sure that @aleclarson got this notification - ping :)

[2019-07-14 15:51] aleclarson commented on #53
Hey @timocov, shortly after trying your tool, I decided to start [contributing](https://github.com/Swatinem/rollup-plugin-dts/commits?author=aleclarson) to `rollup-plugin-dts` and that's serving my needs well. I even figured out how to get the TypeScript compiler to generate `.d.ts` modules from `.ts` modules **in-memory**, which you might be interested in (see [here](https://github.com/Swatinem/r

[2019-07-14 15:52] aleclarson commented on #92
IIRC, I didn't actually run into an issue with this, but it looked suspicious I guess. If it works, then you're in the clear I think. 👍

[2019-07-14 15:54] timocov commented on #92
Ah, great! 🙂 Then I'm closing that issue for now. If someone faced that issue - feel free to ping me here or create another issue with repro code.

Thank you!

[2019-07-14 15:54] #92 closed

[2019-07-14 15:57] timocov commented on #53
`dts-bundle-generator` [does it](https://github.com/timocov/dts-bundle-generator/blob/c506fb1b9491425184f50bddcd041d98ac1aeac6/src/compile-dts.ts#L87-L114) already from the first version I believe 🙂 But thanks for pointing this!

Ok, no problem!

[2019-07-14 16:02] #94 closed

[2019-07-16 06:51] musicode commented on #84
@timocov

I have a similar issue.

For example, there are some helper functions in `a.ts`, I hope to export `a` as a property from `b`.

but `dts-bundle-generator` can't do that.

a.ts

[code]

b.ts

[code]

[2019-07-16 10:22] musicode opened #97 "How to export Class and Type"
[code]

foo.ts

[code]

index.ts

[code]

output

[code]

There are two issues:

1. `Foo` is not exported.
2. `Bar` is exported.

why? I am very confused.

[2019-07-16 19:41] timocov commented on #97
Hi,

`Foo` is class. Classes, functions and variables affects JS code, so in that case you didn't export that class from your JS code, why declaration file should export it? You need to export that class explicitly from entry module.

In opposite to classes/functions/variables types/interfaces doesn't affect JS code and might be exported without any problem or affecting something.

[2019-07-16 19:44] timocov commented on #84
@musicode what error you get? It looks your issue is about 2nd known limitation (see https://github.com/timocov/dts-bundle-generator#known-limitations).

[2019-07-17 01:08] musicode commented on #97
I want to control the accessibility, in my example, I hope `Bar` type is not exported, because I will never use it outside. but `Foo` class maybe used outside.

What can I do for that?

[2019-07-17 01:17] musicode commented on #84
yes, It's 2nd known limitation, but I think it's maybe useful.

for my scenario, I have a module `a` that define some helper functions.

then I want to export `a` from entry point.

b.ts

[code]

then I can use it like below:

[code]

It's a common case, I need type suggestion in my vscode.but `dts-bundle-generator` will report `a is not define`.

so i have to write a declaration file manually, an

[2019-07-17 08:54] timocov commented on #97
In this case, as I said, you need to export it from your entry-point explicitly.

Just add `export { Foo };` to `index.ts`.

You export class `Foo` with field of that type (`Bar`), you need to export that type so user of your declarations can define variable with that type.
Currently all nodes, which doesn't affect JS code exported by default because they are used in your declarations and can be u

[2019-07-17 10:23] musicode commented on #97
I agree with you, but how about a default export in `index.ts`:

[code]

output

[code]

But I only need `Index` in Javascript.

[2019-07-17 12:15] timocov commented on #97
Can you please show what do you want to achieve (provide both JS and TS declaration)?

[2019-07-17 13:50] musicode commented on #97
foo.ts

[code]

main.ts

[code]

run tsc, the `.d.ts` files is emited.

foo.d.ts

[code]

main.d.ts

[code]

run `dts-bundle-generator`, the single `.d.ts` is emited.

[code]

I want to use the `Main` class and `Foo` class like below.

[code]

I just write `ts` code, the `.d.ts` files is emited by `tsc`, not by myself.

so, how can I achieve?

[2019-07-17 14:23] timocov commented on #97
`function doSomething(a: Main['Foo']) {}` should work.

According your case: if want to export type, I believe you need to export interface or something to be able to use it. If your d.ts will export `class Foo`, then somebody case import it in the way:

[code]

[2019-07-17 14:40] musicode commented on #97
I think `Main['Foo']` is tedious, `Foo` is more cool.

`foo.d.ts` export `Foo` class, but the single `.d.ts` emited by `dts-bundle-generator` does't export it.

why?

[2019-07-17 14:44] musicode commented on #97
I find exporting `.d.ts` files is the hardest part of typescript.

I really don't know how to export the type I want.

[2019-07-17 19:58] timocov commented on #97
Because it's foo.ts, not index.ts?

You need to understand, that name `Foo` isn't just type of class Foo, it's class constructor too. Class constructor can be called and used in the code (not only in types).

You want to export type of class Foo (which cannot be called and used in the code).

You can try to export that type with name Foo from your index.ts file (but I believe you don't need to hav

[2019-07-18 01:26] musicode commented on #97
@timocov Think you.

[2019-07-18 01:26] #97 closed

[2019-07-23 16:32] gavar commented on #68
`rollup-plugin-dts` is the best option I found, IMHO.
The only missing part I spent a lot of time on was how to properly use it with `rollup-plugin-typescript2`
I would suggest minimal config below - `rollup` execute arrays of configs sequentially (which I haven't found documented well), so it first builds code to common directory and them create a `.d.ts` bundle from it.
[code]

[2019-07-24 10:46] timocov commented on #68
@gavar can you please tell what features/abilities you didn't find in other tools (like api-extractor or dts-bundle-generator), but they are in `rollup-plugin-dts`? I believe it might be helpful for other people who'll see this thread.

[2019-07-24 12:15] Swatinem commented on #68
I also recently found a lot more issues with my tool, which are due to the way typescript works:

* in TS, you can override and “monkeypath” things in the global scope, which is not supported, since my tools only works with things you *explicitly* `import`/`export`.
* in TS, you have declaration merging, the most obvious one is when you define overrides for one function, but you can also merge fun

[2019-07-24 14:34] octogonz commented on #68
API Extractor has fairly comprehensive support for declaration merging.

[2019-07-24 22:03] gavar commented on #68
## rollup-plugin-dts
### pros
+ supports rollup
+ super fast, takes only 60ms in my case
+ does not have problems with declaration merging (as was stated), all functions with the same name were exported as expected, as well as namespaces
### cons
- does not support `import {A as B}`, renames back automatically
- renames imports to `[name]$1` when same name occurs twice (relates to above)
- does no

[2019-07-24 22:14] octogonz commented on #68
As of version 7 (which introduced `api-extractor init` for setting up the config file), I'm not aware of people having trouble with the configuration. If you have specific suggestions for improvement, we'd be interested to hear your feedback and see if it can be addressed. If that's off topic for this thread, feel free to open a separate GitHub issue for the project.

[2019-07-24 22:26] octogonz commented on #68
If you have a repo for this,  please open an issue reporting the bug. As far as I know it should not happen unless the two symbols are not provably identical (e.g. imported `React` versus the global ambient declaration with the same name).

[2019-07-25 07:15] Swatinem commented on #68
It should preserve these if the typescript compiler itself generates them.
There is a testcase for it here: https://github.com/Swatinem/rollup-plugin-dts/blob/master/tests/testcases/preserve-reference-directives/expected.d.ts
But possible it’s broken for some cases. Can you reproduce that?

All the other cons you listed is just the way rollup works, its also the same for JS files.

And for the dec

[2019-07-25 13:17] gavar commented on #68
I meant that `dts-bundle-generator` add those directives as it detects type usages from `@types` directory.

Although @Swatinem, I did found an issue in `rollup-plugin-dts`, when I try to `typeof import`.
Please refer to [issue #49](https://github.com/Swatinem/rollup-plugin-dts/issues/49)

[2019-07-31 12:54] gavar commented on #68
worth to mention [wessberg/rollup-plugin-ts](https://github.com/wessberg/rollup-plugin-ts) did a great job.

[2019-08-04 14:48] smmoosavi opened #98 "importedLibraries not working as expected"
**Bug report**

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)
[code]

~~note: I am using lerna and yarn workspace~~ I think lerna isn't related to this issue.

[2019-08-04 15:17] smmoosavi commented on #98
no problem with `react` + `@types/react`

## Input code

[code]
## Expected output

[code]

## Actual output

[code]

[2019-08-04 15:34] timocov commented on #98
Hi,

where types for commander is? In `@types` or inside `commander` package itself?

[2019-08-04 15:38] timocov commented on #98
Ah, nevermind, I reproduced it.

[2019-08-04 16:39] smmoosavi commented on #98
inside:
[package.json](https://github.com/tj/commander.js/blob/master/package.json#L37):
[code]
[typings file](https://github.com/tj/commander.js/blob/master/typings/index.d.ts)

[2019-08-10 16:53] smmoosavi commented on #98
any update? any workaround?

[2019-08-16 08:43] timocov commented on #98
Unfortunately no, for custom libraries there is no workaround and even update :(

I believe it should be fixed with that https://github.com/timocov/dts-bundle-generator/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Adetect-import-path-problem issues, but no updates for now.

[2019-10-16 08:06] antoninbouchal commented on #84
Thank you guys ... As I sad, I use right now "hack" with require.
It is not good because I must use is really often. :D

[2019-11-06 10:53] houd1ni opened #99 "Error after upgrading typescript to 3.7"
Hi! Firstly, thank you for the utility - it's a lifesaver.

![image](https://user-images.githubusercontent.com/7501201/68292177-5b9aef00-009c-11ea-9e4a-d9aa66070dbd.png)

It's after upgrading typescript from ^3.6.4  to  ^3.7.2.
Downgrading fixed the issue.

Test repo: https://github.com/houd1ni/fela-vue
There's on commit # `1ffedf7cd323e74520a1eeea5754233a1431a808`  the problem can be reproduced b

[2019-11-06 12:58] timocov commented on #99
Hi @houd1ni,

I appreciate your feedback!

looks like your tsconfig doesn't have `"declaration": true,` compiler option. Quite possible that the TypeScript team had changed the behavior when you can emit declaration files without that option (previously it was possible, but there might be undefined behavior sometimes https://github.com/microsoft/TypeScript/issues/24002). I would recommend you add

[2019-11-06 17:47] houd1ni commented on #99
It works, but we've got a new problem: useless files are emited in dist:
![image](https://user-images.githubusercontent.com/7501201/68323468-91f56000-00d6-11ea-883b-b1b74ce282d6.png)

[2019-11-07 08:08] timocov commented on #99
https://github.com/microsoft/TypeScript/issues/24002#issuecomment-550549393 Looks like we must pass `declaration: true` if we want to generate declaration files.

[2019-11-07 08:18] #99 closed

[2019-11-07 08:24] timocov commented on #99
[Version 3.3.0](https://www.npmjs.com/package/dts-bundle-generator/v/3.3.0) is just published!

[2019-11-07 13:29] houd1ni commented on #99
@timocov  Does it emit useless declaration files after the update?

[2019-11-07 15:16] timocov commented on #99
No, it shouldn't. `dts-bundle-generator` emits all outputs in-memory.

[2019-11-07 15:17] timocov commented on #99
@houd1ni you can remove `declaration: true` from your tsconfig after upgrade, because `dts-bundle-generator` will enable it for you while generating bundle (and only).

[2019-11-07 21:58] houd1ni commented on #99
It works. Thank you!

[2019-11-27 22:48] jeremyben commented on #68
Here's my take on it : [bundle option with tsc-prog](https://github.com/jeremyben/tsc-prog#bundle-type-definitions-%EF%B8%8F).

Faster than others because it bundles in memory, by intercepting emitted ".d.ts" files during the initial build. `tsc-prog` is suited for your production builds, as it does not support the `watch` option.

Just to name a few of the corner cases I tried to handle properly:

[2019-12-02 08:56] houd1ni opened #101 "unknown library "Function" autoadd."
Hi! I've just updated deps for https://github.com/houd1ni/lafetch/

Node 13.2.1 (Current stable).
This lib: 3.3.1.
TypeScript: 3.7.2

I get:
[code]
And have it as a first line in my bundle.ts:
[code]
Also, I have no Curry used there in sources. Only ramda's curry.

After downgrading the lib to 3.1.0 and @types/ramda back to 0.26.14 I get this:
[code]

And only when I've downgraded typescript to 3.

[2019-12-04 13:54] timocov commented on #101
Hey @houd1ni, sorry for late reply.

I just clone your repo, `npm install` and run `npm run gentypes` and no error happened. After that I run `npm install -D typescript@3.7.3 dts-bundle-generator@3.3.1` to update to the latest version packages and run `npm run gentypes` again and the result is the same - no errors. How to reproduce the errors you've faced?

[2019-12-04 14:36] houd1ni commented on #101
@timocov  Try to upgrade @types/ramda to the latest: 0.26.36.
The problem shows up during `Checking generated files...`.
Checks in IDE(vscode) and during compilation looks OK.

[2020-02-18 08:18] daviddelusenet opened #102 "How to add local module declaration to generated types?"
Hi,

I'm using this tool in my project which is also using the [react-table](https://github.com/tannerlinsley/react-table) package. The types of this package are published separately to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repo.

However, the types of the `react-table` aren't ready to use: you need to create your own `react-table.d.ts` file inside of your proje

[2020-02-18 08:58] timocov commented on #102
Hi there,

these errors are caused because you don't provide the compiler information about which types you need to load in specific files to being compiled. I meant, that for the compiler it's enough to `src/@types/react-table.d.ts` as `include` value to get the project compiled, but dts-bundle-generator doesn't use that value at all, because it uses the only input filed you've specified. I can't

[2020-02-18 09:08] daviddelusenet commented on #102
@timocov thanks for super quick response! I only needed to add `<reference path="../../../../../@types/react-table.d.ts" /` to my `Table.tsx` file and my builds started working again.

Since the project already contained a `types.ts` file which contained some types which are used throughout the project I decided to do the reference there.

Thank you so much! 😄

[2020-02-18 09:10] timocov commented on #102
You're welcome! 🙂

[2020-02-18 09:10] #102 closed

[2020-02-26 08:38] daviddelusenet commented on #102
@timocov I've a follow up question: because of your help my previous issue was resolved.

However, I noticed that inside my generated `index.d.ts` file the types for my own `react-table.d.ts` file aren't present. So the build passes but the types assigned to my `Table` component aren't correct.

How do I actually add my custom `declare module` types to my generated  `index.d.ts` file?

[2020-02-26 10:31] timocov commented on #102
How that types are "injected" to the generated dts file? Via `/// <reference types` or `import`? Or just inlined? Maybe something else? 🙂

See at `allowedTypesLibraries`, `importedLibraries` and `inlinedLibraries` options. That options allows you control which libraries should be imports, which one should be added via `/// <refenrece types` directive and which one should be inlined into generated

[2020-02-26 10:32] daviddelusenet commented on #102
They are imported like this:

[code]

This however only imports the 'default' types from the `react-table` package and not my 'updated' types from my local `react-table.d.ts` file.

[2020-02-26 10:50] timocov commented on #102
I'm not sure that this could be solved somehow. You can try to set `inlinedLibraries` to `['react-table']` and see the result, but I'm afraid that TypeScript itself might looking at `@types/react-table` instead for types when someone will use your generated declaration file (I'm not sure about that, just my guess, but I admit it might be true).

I don't know what a good solution for you is for thi

[2020-02-28 09:03] daviddelusenet commented on #102
Hi @timocov ,

I'll try to explain my situation better: the `react-table` types work in a way that you need to overwrite/extend their types when you use the `react-table` package.

This is because the `react-table` package is flexible in its usage, meaning you can add different hooks which will change the options you have available. Because the available options/settings change based on your confi

[2020-03-03 15:57] timocov commented on #102
@daviddelusenet sorry for the delay. Do you have any example of the project uses react-table library and provides typings? At the moment I think that you don't need to "extend" the `react-table` package but just provide typings for table within your package, but I'm not sure that understand everything correctly.

[2020-03-09 14:16] #59 closed

[2020-03-09 14:16] #54 closed

[2020-03-09 14:16] #62 closed

[2020-03-09 14:16] #84 closed

[2020-03-09 14:22] timocov commented on #101
Fixed in #103

[2020-03-09 14:22] #101 closed

[2020-03-09 17:13] timocov commented on #98
@smmoosavi I just dig a bit into the issue and I have no idea how it could be fixed so far.

The issue is that commander package uses declaration merging in very interesting case. The first, it uses commonjs export, so basically you "can't" use es6 imports for that, only `import * as commander` way, but ts allows it... The second, it has 2 properties with the same name `Command` (in namespace `com

[2020-03-13 14:25] daviddelusenet commented on #102
Hi @timocov , sorry for the delay.

Here you can read about the `react-table` types: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-table

So I've done exactly what it says there and that works great during development. However, these types don't get included in the build.

[2020-03-16 06:51] daviddelusenet commented on #102
@timocov here you can read more about what I've done: https://github.com/tannerlinsley/react-table/issues/1591

So basically I've done this:

- Create a file `react-table-config.d.ts` using the example. This file expands the default types with all of the plugin extensions currently in the type definitions.
- Edit your local copy of `react-table-config.d.ts` and remove all of the interfaces that do

[2020-03-16 12:50] daviddelusenet commented on #102
Fixed it by just turning on the `inlineDeclareExternals` option in my `dtsconfig.json`. 😅

[2020-03-17 08:36] timocov commented on #102
@daviddelusenet Sorry for the delay - last days I was on a vacation so I can't even check out/play with that. If it works for you - awesome 🎉 🙂

[2020-03-18 23:23] #98 closed

[2020-03-19 13:29] timocov commented on #68
Yeah, since v4.0.0 it's possible now :)

[2020-03-19 14:56] daviddelusenet opened #107 "no-banner CLI option doesn't work"
**Bug report**
Thanks for releasing a new version! However, the newly added `--no-banner` CLI option doesn't work as expected.

This option is also missing from the documentation and it would be nice if you could set this option from the `dtsconfig.json` also.

**Input code**
**NPM script**
[code]

**Output**
[code]

**Expected output**
[code]

I'm using version 4.0.

[2020-03-19 15:02] timocov commented on #107
Hmm, let me check...

[2020-03-19 15:04] timocov commented on #107
Ah, `--no-banner` doesn't override value from the config. I'll make fix soon and update docs as well. Thank you!

[2020-03-19 15:07] timocov commented on #107
You can add `noBanner` option to `output` options for each entry - see schema https://unpkg.com/browse/dts-bundle-generator@4.0.0/config-schema.d.ts.

[2020-03-19 15:09] daviddelusenet commented on #107
@timocov thanks for the quick responses!

If you're going to update to documentation maybe also add documentation for the `inlineDeclareExternals` option to the [config file page](https://github.com/timocov/dts-bundle-generator/blob/master/src/config-file/README.md).

[2020-03-19 15:12] #107 closed

[2020-03-19 15:14] timocov commented on #107
Yeah, sure! Thank you for pointing out missing docs. It's so easy to just forget to update they 😂 See 64b1a2d3deaf082c26dd0fc9f148190f76dc848c

[2020-03-19 15:15] timocov commented on #107
I don't think that it requires to publish the new version with that fixes, as soon it's only docs update. If you'll something wrong with v4 - please let me know 🙏

[2020-03-25 06:14] tianyingchun opened #108 "Does. dts config: inlinedLibraries support inline @types/package?"
i saw the config (inlinedLibraries: ['fake-package']) , can it works packages which as dts definitions within @types/xxxxx?
[code]
the yargs is has @types/yargs dts mapping, it throws error

[2020-03-25 08:03] timocov commented on #108
Does it work?

What error?

[2020-03-25 08:41] tianyingchun commented on #108
for example:
the
  packages/
     + common (will export utilities from yargs) package.json <-- @types/yargs, yargs
     + cli (depends `common`) and export new item, it will throw error
[code]

[2020-03-25 09:19] tianyingchun commented on #108
do you have any ideas for this?

[2020-03-25 09:54] tianyingchun commented on #108
oh, i find a way to resolve this issue, make alias and re-export yargs from `@flatjs/common`
like
[code]

[2020-03-25 09:54] #108 closed

[2020-03-25 13:08] timocov commented on #108
Yes, as stated in the error message `This is likely not portable. A type annotation is necessary` looks like you need to specify type of the variable `serveCmd` in the way `export const serveCmd: TypeHere = ...`.

May I ask you why need to inline types from `@types/yargs`? It looks weird for me as soon they might be just installed in other packages.

[2020-03-26 07:13] tianyingchun commented on #108
you are right, the @types/yargs will be installed via jest-js, so i can't found the export const serveCmd: in fact ts lint will throw error to me, the error `his is likely not portable. A type annotation is... ` is throw by typescript .
i have changed the dts config to  below.
[code]

[2020-03-26 07:16] tianyingchun commented on #108
BTW i try some dts generator tool, like rollup-bundle-dts, npm-dts, and so on, i like dts-bundle-generator, it simple, no other depends configuration need, it only depends input entry 'src/index.ts'. very very convenient. great job thanks a lot.

[2020-03-26 09:32] timocov commented on #108
@tianyingchun Thank you for you feedback! ❤️ I do really appreciate it.

[2020-04-06 07:55] timocov opened #110 "Add ability to "convert" const enum to enum if it's exported directly and preserveConstEnum is enabled"
Related to https://github.com/microsoft/TypeScript/issues/37774, https://github.com/tradingview/lightweight-charts/issues/375.

Add the new output option, which will strip `const` from `const enum` if that enum is exported from entry point directly and `preserveConstEnum` compiler option is enabled.

[2020-04-09 18:27] #110 closed

[2020-04-10 17:47] bolinfest opened #112 "Erroneous complaint about include pattern"
**Bug report**

When I run:

[code]

I get an error complaining about missing files:

[code]

even though my `tsconfig.json` contains:

[code]

which covers the files it claims are missing.

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2020-04-10 19:31] timocov commented on #112
Hi, can you please create a repo with a repro? Or even steps with reproduce with existing repo.

[2020-04-15 12:43] timocov commented on #112
It's bug.

[2020-04-15 21:02] timocov commented on #112
Hey @bolinfest, do you have any update here? I faced an error "No inputs were found in config file", but your one looks differ.

Looks like you use composite projects, right? See #93

[2020-04-15 21:18] timocov commented on #112
Yeah. The tool doesn't support composite project's config so far. I can add easily ignoring this error, but without additional information from you I can't tell you whether it helps or not.

[2020-05-11 05:32] tianyingchun commented on #29
does ` with` `@typescript-eslint` configuration provider some API to do this? or `prettier` libraray

[2020-05-11 12:26] timocov commented on #29
@tianyingchun maybe, but I don't think it's good idea to include them as deps to do "pretty formatting" itself. I guess TypeScript itself might have such option (e.g. in tsserver).

[2020-05-11 17:14] gfmio opened #116 "Support for auto renaming nodes with the same name in the bundle"
**Bug report**

**Input code**

[code]

[code]

[code]

**Expected output**

[code]

or

[code]

**Actual output**

[code]

Console output:

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

`dts-bundle-generator` will throw errors when you use the same variable name more than once. This is presumably, because the script only concatenates the files and

[2020-05-11 17:16] gfmio commented on #116
I just renamed my variables and the bundle is constructed properly, but the exported names are still wrong.

**Input code**

[code]

[code]

[code]

**Actual output**:

[code]

[2020-05-12 10:42] timocov commented on #116
It looks like [the second limitation](https://github.com/timocov/dts-bundle-generator#known-limitations), isn't it? I'll check what we can do here, but for now you can use workaround:

[code]

_(and the same names in template files)_

[2020-05-12 12:48] gfmio commented on #116
Maybe I misunderstood the 2nd limitation, but I thought that only applies when re-exporting a default export as a default export.

The workaround worked though, and it actually still works, even if both variables are named `TEMPLATE` as long as they are imported using and exported with different names.

[2020-05-12 17:33] timocov commented on #116
Yeah, I've thought it is so 😂 Looks like the issue is with default exports in common.

From the beginning `dts-bundle-generator` never changed the original names of classes/variables/etc, that's why you faced this issue (and I personally never though that it's a big deal to fix it in your code because it's just renaming and you can handle error while generating the bundle). Maybe it needs to be ch

[2020-05-12 17:34] timocov commented on #112
I'm going to close the issue. If you'll have any question or updates - feel free to re-open it.

[2020-05-12 17:34] #112 closed

[2020-05-15 13:32] edoardocavazza opened #117 ""Export as" outputs the original reference name"
**Bug report**

When using the `export context as namespace` statement, the bundled output declares the original reference name (`context`) instead of the exported one (`namespace`).

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**

I am using default CLI options.

[2020-05-15 13:38] edoardocavazza commented on #117
Probably related to #116

[2020-05-19 11:01] wolfram77 opened #118 "Error: Cannot find symbol for node: push"
@timocov , i am using `dts-bundle-generator` with source file `index.ts`. This file imports from a number of files with which contain similarly named types, functions. But these are not exported. I am able to compile it with `tsc`  and the generate both the `mjs` and `cjs` file. And then in try to run `dts-bundle-generator`. I get a few warnings, probably the similar names, but it also crashes wit

[2020-05-19 11:25] wolfram77 commented on #118
This error is coming up when i re-export a method from `extra-iterable`. I tried wrapping those functions in a local function and it works. In both cases `tsc` and `rollup` work fine though.

[2020-05-20 16:05] NickKaramoff opened #119 "Problem finding Babel and Jest types (when they don't need to be found at all)"
**Bug report**

I don't know whether it is a bug or just me not understanding the way stuff works.

I use Jest to test my code. Jest also depends on Babel, so I get its packages as well. Now, I want to generate the .d.ts bundle _only_ for my source code, which doesn't depend on Jest nor Babel.

**Input code**

[code]

**Expected output**

The types get generated

**Actual output**

[code]

**Addit

[2020-05-20 16:54] NickKaramoff commented on #119
As it turns out, TypeScript will automatically try to include all types unless `types: []` in tsconfig is set. This resolved my issue, which didn't have anything to do with dts-bundle-generator in the first place

[2020-05-20 16:54] #119 closed

[2020-05-22 06:08] wolfram77 commented on #118
I tried it again, but this time only for 2-3 functions. It gave no error, but its declaration was not there in index.d.ts. Probably thats what the warning is telling. Maybe the error was related to something else.

[2020-05-22 06:08] #118 closed

[2020-05-24 02:19] OmgImAlexis opened #120 "Fix multiple interfaces with the same name"
This plugin does something similar but it doesn't have the issue with having multiple interfaces with the same name. For example `interface Options` will be changed to `interface Options$1` I haven't had any issues with that since using their plugin.

https://github.com/Swatinem/rollup-plugin-dts

[2020-07-01 22:22] timocov commented on #120
Sorry for long reply. Yeah, it's [the first known limitation](https://github.com/timocov/dts-bundle-generator#known-limitations) of the tool and I'm not sure whether it's easy to fix it. Afaik `rollup-plugin-dts` uses rollup under the hood to solve the original problem (bundling dts).

[2020-07-01 22:24] timocov commented on #96
It seems that this couldn't be done because `incremental` flag is for emitting rather than using in custom tools. So close for now.

[2020-07-01 22:24] #96 closed

[2020-07-01 22:30] timocov commented on #120
Actually it's duplicate of #116

[2020-07-01 22:30] #120 closed

[2020-07-01 22:34] timocov commented on #117
I think it could be partially fixed in the following way:

**Expected output**
[code]

or something like this. It won't be renaming itself, just handling re-exports with renaming from the entry point.

[2020-07-01 22:46] timocov commented on #118
@wolfram77 It seems that package `@extra-iterable` provides ts files rather than d.ts ones in the package?

[2020-07-02 13:46] wolfram77 commented on #118
@timocov I read #53 and understood that `.ts` files should not be present, it should the declarations + js file. I am still using the same method as before, not re-exporting a function. This tool is part of my essential code toolkit, thanks. I am started with these "helper" functions thinking they would be "easy", but it did took a really long time.

[2020-07-04 23:51] #117 closed

[2020-07-05 10:53] timocov commented on #117
Just published in 5.0 release.

[2020-07-14 03:11] adventure-yunfei commented on #68
User for api-extractor here.
I have to say, if consider dts rollup usage only, `api-extractor` may not support much edge cases as other tools listed here, with the saming effort. It is limited **by its design**, re-creating nearly an entire intermediate ast tree. `api-extractor` has to handle each syntax case that it wants to support, while other dts rollup tools may only handle cases that they do

[2020-07-18 00:55] cspotcode opened #122 "`import Foo = require("foo")` does not appear to work"
I'm trying to use dts-bundle-generator to bundle type declarations which do `import Liftoff = require("liftoff");`  It does not appear to be recognizing and including the `import ... = require(...)` statement.

I believe this style of import is required because Liftoff's declarations do `export =` instead of named exports.

I saw that #60 fixed doing `export =`, so I guess my problem is the opposi

[2020-07-19 11:29] timocov commented on #122
Looks like a bug. Can you please provide full sample what exactly is going wrong? I mean, repro of the issue.

[2020-07-19 12:30] #122 closed

[2020-07-19 12:33] timocov commented on #122
5.1.0 version with the fix is just published https://github.com/timocov/dts-bundle-generator/releases/tag/v5.1.0

[2020-07-19 19:04] cspotcode commented on #122
Thanks!  Yes, I'm always glad to provide reproductions in the future.

On Sun, Jul 19, 2020, 8:34 AM Evgeniy Timokhov <notifications@github.com>
wrote:

[2020-07-20 14:18] cspotcode opened #123 "Import from "events" but the /// <reference types="node"/> is omitted"
**Bug report**

Full reproduction: https://github.com/cspotcode/repros/tree/dts-bundle-generator-reference-node

I have a type declaration which references the "node" type declarations and imports from node's "events" module.  The emitted declaration includes the `import {EventEmitter} from "events"` but not the `/// <reference types="node" />` so there are compiler errors with the emitted declara

[2020-07-20 14:49] cspotcode opened #124 "Inlining of `export = foo` when it's `declare namespace foo`"
**Bug report**

Reproduction here: https://github.com/cspotcode/repros/tree/dts-bundle-generator-ora

When a third-party .d.ts declares `namespace ora {}; export = ora;` the contents of the namespace aren't bundled correctly.

In my case, I'm trying to bundle the declarations for `ora`.  It exports a function that is also a namespace.  In my reproduction, I simplified the ora declarations to the b

[2020-07-20 14:53] cspotcode commented on #124
I'm not sure if this is related to #122.  #122 was about including the import, whereas this issue is about inlining the imported types.  My reproduction is using the latest 5.1.0 that you published recently.

[2020-07-25 15:33] timocov commented on #124
Sorry for late response. I think it's related to #11 actually. `Options` interface is declared inside a namespace and quite probably that it's the reason.

[2020-07-25 15:44] timocov commented on #123
Hm, interesting. I think that the reason of check error is that `types` is an empty array in tsconfig file, and I don't know how it'll work when that generated file will be in node_modules and will be used by another package in both cases: when `types` array is empty and when it has `node` in it. But anyway I think that it might be easily fixed.

[2020-07-25 15:56] cspotcode commented on #124
In #11, the namespace is bundled, and it includes extraneous, unused declarations.  In this issue, the namespace has been omitted.  Is that correct?

[2020-07-25 15:59] timocov commented on #124
Yes, that's correct. I meant, there are some problems and namespaces (modules), this is just another one issue I guess. I'll take a look at this issue after #123 and will back with results soon.

[2020-07-25 17:11] #123 closed

[2020-07-25 17:32] timocov commented on #124
@cspotcode Is that important for you that `interface Options {}` from `ora` package shouldn't be exported (in your expected output you marked it as non-exported so that's why I'm asking)? It seems that the tool doesn't supported it yet (non-exported interfaces, so all interfaces/types are exported by default). It seems that #127 fixes the issue, but `Options` is exported though.

[2020-07-25 17:37] #124 closed

[2020-07-25 17:50] timocov commented on #123
[The version 5.2.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v5.2.0) with fixes is just published.

[2020-07-25 17:50] timocov commented on #124
[The version 5.2.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v5.2.0) with fixes is just published.

[2020-07-25 21:35] cspotcode commented on #29
prettier's probably the easiest option by far.  TypeScript does have an AST printer.  Maybe just parse and print the output?

TypeScript also has a formatter, but I think it's very much built for the language service, and it has bugs.  It sends a list of modifications to the code editor, and you have to apply them to the code (lots of string splicing)

[2020-07-25 23:27] cspotcode opened #129 "Enable "auto" behavior for libraries omitted from `allowedTypesLibraries`, `importedLibraries`, and `inlinedLibraries`"
What happens with a third-party library if it's not specified in any of `allowedTypesLibraries`, `importedLibraries`, nor `inlinedLibraries`, but those 3 arrays are specified in the config file?

I assumed that the library would be handled automatically.  Instead, it is neither imported nor inlined.  This means if I import type `Options`, then the output .d.ts tries to refer to `Options`, but the

[2020-07-26 10:01] #29 closed

[2020-07-26 10:19] timocov commented on #129
That's because you specify `allowedTypesLibraries`, `importedLibraries` and `inlinedLibraries` as _an empty array_. By default that options are `undefined`, which means "default behaviour" which is kind of detect it "automatically". Just try to drop them from your config and see whether it helps.

I thought that the default behaviour is import what can be imported, reference with types is it's fro

[2020-08-04 19:48] cspotcode commented on #129
Sorry for the delayed response.  This makes sense.  I was imagining where I needed to force a single library to be switched from "inline" to "import", but now I understand that "import" is the default.  So it is never needed to force from "inline" to "import", it is only needed to switch from "import" to "inline."

[2020-08-04 19:48] #129 closed

[2020-08-05 00:28] cspotcode opened #130 "Use language service "rename" functionality to avoid name collisions"
This is an idea to fix the known limitation about duplicate names:

The language service can be queried for a list of all locations to replace in order to rename an identifier.  Can this functionality be used to rename symbols, avoiding naming collisions?

For each top-level declaration, we can decide if it needs a new name.  If it does, we ask the language service for a list of all locations wher

[2020-08-11 15:27] paztis commented on #91
I encounter the same kind of problems and followSymlinks didn't change anything
I've a big monolithic repository managed by yarn.
I've got 200 modules developed inside

For one of these modules, Ilve declared the dependency to dts-bundle-generator. But as it is a mono repo, everything is hoisted on the root level of the repo.

When I run dts-bundle-generator, it seems it is trying to integrate eve

[2020-08-15 10:43] timocov commented on #91
@paztis can you please create small repro for your issue?

means that in the compilation there is files under "node_modules", which are TypeScript files (`.ts`) rather than declaration ones (`.d.ts`) and tsc won't compile them at all. Quite probably that you need to generate declaration files for all projects you want to bundle declarations first (and for all their deps). But I need to be able to

[2020-08-15 10:46] timocov commented on #130
@cspotcode sorry for late reply.

It's an interesting idea, but I'm not sure whether it's possible or will be simple, because to rename property we need to detect all collision names, detect in what types we have that nodes and rename there (but what if we'll have 2 different collisions but used in the same type?). If you any rough impl of that, it'd be interesting to see how it works.

[2020-08-19 21:41] raldone01 opened #131 "Issues with pnpm"
My project layout:
[code]
I tried to disable symlink following:
[code]

Without the --disable-symlinks-following flag it fails with the following output: `Error: Cannot find symbol for node: $createElement`
It goes absolutely wild and searches all dependencies from the upper node_modules and lists them as source files.

I think the issues is that the tool somehow uses the upper node_modules althou

[2020-08-19 21:44] raldone01 commented on #131
Here is the output without the --disable-symlinks-following flag:
[code]

[2020-08-20 12:40] jeetiss opened #133 "export default function"
**Bug report**

I create test with bug, see #132

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2020-08-24 01:37] schleumer opened #134 "Star re-exports (`import * as NS` / `export * as NS`) aren't wrapped with a `NS` name"
**Bug report**

I've used `dts-bundle-generator` to generate bundle of `.d.ts` for use on Monaco Editor and some wierd Typescript compiler that runs on GraalJS that i've made. I have 2 globals which are actually aliases to npm modules, which are Ramda and Cheerio, they worked great on some old `.d.ts` files, but when i've updated those libraries to its recent version, the code generation didn't wo

[2020-08-24 06:14] timocov commented on #134
It seems that it was broken in 5.4.0 in #132. As workaround you can try to use

[code]

[2020-08-24 16:08] schleumer commented on #134
@timocov, i've uploaded a [repository](https://github.com/schleumer/dts-bundle-generator-tests) with some tests i've made, i also added an example with the export star, which didn't worked :/

[2020-09-08 04:26] tianyingchun opened #135 "About config `importedLibraries` for module of `lerna packages `"
hi , i have question about the typings imports:  consider below sense.

i using lerna to `Symlinks`  node modules `@flat/mock`, `@flat/evolve` and with tsconfig.json
[code]
packages
   + mock
   + evolve

i imported some typings from `@flat/mock` in `@flat/evolve`, all typings will inline imported from `@flat/mock` instead using `import {xx} from @flat/mock` in index.d.ts, even if i have setup
imp

[2020-09-14 13:35] timocov commented on #135
Sorry for late reply. Can you please prepare a repro for that?

[2020-09-14 20:51] Milo123459 opened #136 "allow using globs for file paths"
I want to compile all my .d.ts files which is a lot, I tried
dts-bundle-generator <options> dist/**/**.d.ts yet that does not work
please add support for using globs, thanks.

[2020-09-14 20:56] Milo123459 commented on #136
Also, when running: `dts-bundle-generator -o index.d.ts --project tsconfig.json --no-banner dist/index.d.ts`
I get the error:
Error: Symbol for root source file dist/index.d.ts not found
index.d.ts is the following:
[code]
index.d.ts.map
[code]

[2020-09-14 21:02] timocov commented on #136
If you'd like to make a bundle from all of your d.ts files, just create a file with re-exports from all that files.

[2020-09-15 05:24] tianyingchun commented on #135
sorry for late, i have resolved this issue by reset `paths`: to an emtpy object `{}` in compilerOptions for `tsconfig.json`, it works fine, BTW can you provider some configurations to override default `compilerOptions` of  ` tsconfig.json like `followSymlinks` in `BundlerConfig`

[2020-09-15 05:26] tianyingchun commented on #135
like:
[code]

[2020-09-15 06:15] Milo123459 commented on #136
Okay. Thanks.

[2020-09-27 08:14] timocov commented on #134
@schleumer Thanks for the repo with tests! Is it intended that you'd like to inline these libraries into a bundle, right?

[2020-09-27 10:09] #136 closed

[2020-09-27 10:12] timocov opened #137 "Add option to override compiler options"
From https://github.com/timocov/dts-bundle-generator/issues/135#issuecomment-692472763

[2020-09-27 10:13] timocov commented on #135
@tianyingchun I just created #137 for that.

[2020-09-27 10:13] #135 closed

[2020-09-27 10:22] timocov commented on #134
Just wonder what output here could be... Wrapped `ramda` with `namespace R {}` and `cheerio` with `namespace cheerio {}`? What if you'll refer to that libraries with `import {} from 'ramda'` instead of `import * as R from 'ramda'` (named imports instead)? Should it be inlined twice? @schleumer can you provide example(s) where and when it's helpful to export others packages in this way _and inline_

[2020-10-13 21:26] iFaxity opened #138 "Declaration files not identified as a RootSourceFile"
**Bug report**

Hi, i could not really glance from the documentation how to deal with including external declarations files, ive put

From debugging on my own i can see the file is being correctly parsed, but seems to be flagged as a non root
 source file (the flags property on the SourceFileObject is 8388672).

Is this intended and which other way can i add external declaration types other than u

[2020-10-13 21:36] timocov commented on #138
Hi,

what you'd expect to see for the output for `globals.d.ts` file? It doesn't export anything though...

Every entry you've passed to `generateDtsBundle` are handled separately (but they all are compiles together, yeah).

[2020-10-13 22:01] iFaxity commented on #138
Oh ok i see, i have a ts file and a globals declarations file which contains global interfaces for each package as i have a monorepo which all shares the same globals.d.ts file. But i see if it expects exports in the declaration file (seems correct as i defined it as an entry file in dts-bundle-generator) i might have to add that to the file. Or ill just run with the triple reference comment at th

[2020-10-13 22:16] timocov commented on #138
Afaik by default no "global" declaration will be inlined rather than some part of it is used in the generated bundle. I can suggest you to try to do the next trick:

1. Wrap your `globals.d.ts` in `declare global` declaration and put `export {}` after all in this file (to enable "module mode" for a file):

[code]

1. Include this file by using tripple-slash directive `/// <reference path="./relati

[2020-10-13 22:18] timocov commented on #138
You can see how it's done in test cases https://github.com/timocov/dts-bundle-generator/tree/fd0b12a4e1900cb1a92e7fecd4e054c80a5b7f40/tests/e2e/test-cases/inline-declare-global.

[2020-10-13 22:18] iFaxity commented on #138
Ok swet, thanks.

[2020-10-13 22:18] #138 closed

[2020-10-16 12:22] RunDevelopment opened #139 "All `export * as Foo from "./file"` declarations are ignored"
**Bug report**
As the title says, all `export * as Foo from "./file"` declarations are ignored, kinda. All that gets generated is an empty `export {};`. `export * from "./file"` works fine.

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
[Here is a minimal project](https://github.com/timocov/dts-bundle-generator/files/5391448/foo.zip) reprodu

[2020-10-16 12:27] timocov commented on #139
See https://github.com/timocov/dts-bundle-generator/issues/134#issuecomment-699616069, maybe you have answers for questions from that comment :)

[2020-10-21 15:34] khokm opened #140 "Compiled with errors"
It fails every time if there is at least one unused variable in code.
i try to add next values to `tsconfig.json`
[code]
doesn't work

[2020-10-21 16:33] #140 closed

[2020-11-04 08:11] tianyingchun opened #141 "Why it export generated duplicated types"
**Bug report**
`dts` it export generated duplicated types

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Export declaration conflicts with exported declaration of 'classNames'.
Export declaration conflicts with exported declaration of 'isPromise'.

[2020-11-04 08:14] tianyingchun commented on #141
BTW i don't want to change the export name `classNames `  to `aliasClassName`  for module`class-names/index.ts`.

[2020-11-08 13:05] timocov commented on #141
I guess that the correct output should be something like this:

[code]

[2020-11-08 13:13] timocov commented on #139
Closed in favor of #134

[2020-11-08 13:13] #139 closed

[2020-11-08 15:04] #141 closed

[2020-11-08 15:11] timocov commented on #141
The fix is [just published in 5.5.0 version](https://github.com/timocov/dts-bundle-generator/releases/tag/v5.5.0).

[2020-11-09 05:28] tianyingchun commented on #141
💯 it works fine `5.5.0`

[2020-11-10 17:44] Shigma commented on #68
I would really like to use dts-bundle-generator but I used a monorepo, which means the bundler I choose should support composite project. It seems that dts-bunder-generator doesn't. I wonder which library above does.

[2020-11-22 19:01] loreanvictor commented on #68
Good thread. However, I am searching for the proper tool for a situation where I need to bundle all types from external dependencies as well, with proper name-conflict resolution. Since these are areas where all the mentioned tools seem to be outright avoiding or not guaranteeing proper functionality, can I ask for any recommendations / suggestions?

[2020-11-22 20:15] timocov commented on #68
When it would be needed? Can you please elaborate why do you need this (with examples if possible)?

[2020-11-22 20:16] timocov commented on #68
@loreanvictor when and where it would be needed? Can you please elaborate why do you need this (with examples if possible)?

[2020-11-22 20:41] loreanvictor commented on #68
@timocov I need it for [this project](https://github.com/loreanvictor/tyfon). Basically, I'm wrapping some TypeScript functions automatically into API endpoints, and then transferring the type definitions of these functions to the client-side for auto-generating an SDK for said API. The type definitions will sit alongside some auto-generated `.js` code that basically calls the API endpoint corresp

[2020-11-22 22:20] Swatinem commented on #68
So I think [rollup-plugin-dts](https://github.com/Swatinem/rollup-plugin-dts) should be up for the task. Although I absolutely do not recommend it, I know that a few people use it to bundle up all external dependencies as well, and it will happily take care of name conflicts and everything.

[2020-11-23 03:03] adventure-yunfei commented on #68
`api-extractor` supports that with [`bundledPackages`](https://api-extractor.com/pages/commands/config_file/#bundledpackages) option.

[2020-11-23 07:17] loreanvictor commented on #68
@Swatinem may I ask why?

[2020-11-23 07:18] loreanvictor commented on #68
@adventure-yunfei yeah it seems that similar to dts-bundle-generator, you can only specify a few select external libraries and it will bundle types exported from them (i.e. I could not find the `"all"` option).

[2020-11-23 09:18] Swatinem commented on #68
Its just that some `@types` packages are manually written and have some really strange idioms in them. What I don’t support, and quite a lot of `@types` use for example is [`export = …`](https://github.com/Swatinem/rollup-plugin-dts/issues/93) syntax. Also bundling foreign code is basically against the whole idea of having packages and sharing/deduping dependencies.

[2020-11-23 09:28] loreanvictor commented on #68
makes sense. tbh, if there was a way to just install types of a package, the cleanest solution for my case would also be simply installing all types as explicit dependencies of the client SDK instead of bundling them all together.

question though: since this pitfall affects mostly `@types` packages, and since `@types` package can actually be safely installed in the client environment as explicit

[2020-11-23 09:31] Swatinem commented on #68
when using `respectExternal`, you can use the normal `external` setting from rollup.

[2020-12-18 12:36] guansss opened #143 ""Cannot find symbol for node" when using labeled tuples"
**Bug report**

Thanks for making this helpful tool. However, I've encountered a problem while using labeled tuples that TypeScript 4.0 introduced. Thought it's not an effort to revert those labeled tuples back to normal tuples in my project, I would like to point out this issue.

**Input code**

[code]

**Expected output**

Compiles without error.

**Actual output**

[code]

**Additional context*

[2020-12-21 08:09] timocov commented on #143
Thanks for reporting! It's definitely a bug and labelled tuples should be handled correctly.

[2020-12-24 15:38] #68 closed

[2020-12-24 15:39] #143 closed

[2020-12-24 15:44] timocov commented on #143
The fix is just deployed with 5.6 version.

[2021-01-11 12:44] tianyingchun opened #145 "export default as xxx issue"
**Bug report**

**Input code**

[code]

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2021-01-11 12:49] tianyingchun commented on #145
BTW maybe we need to change
[code]
to
[code]

it works

[2021-01-18 10:17] timocov commented on #145
@tianyingchun Hi there, sorry for late reply. What is in `'./md5'` module? It seems that you didn't provide it here (I'm asking it because it might help to recreate test-case and fix the issue).

[2021-01-20 02:18] tianyingchun commented on #145
for md5.ts it contains some helper methods
[code]

[2021-01-21 13:41] tianyingchun commented on #145
@timocov is it a bug?

[2021-01-24 17:39] timocov commented on #145
Hi @tianyingchun, sorry for late reply (it was quite busy week though).

Am I right that the issue is that there is 2 `declare const _default` statements which lead to an error `Cannot redeclare block-scoped variable '_default'`? I mean, all other output is fine:

[code]

If so, I'm afraid that this is #116 actually, because TypeScript compiler produces that `_default` variables itself and that's

[2021-01-24 17:39] #145 closed

[2021-01-28 00:28] bradzacher opened #146 "`export * as NS` is skipped during bundling"
**Bug report**

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2021-01-28 21:44] timocov commented on #146
Duplicate of #134

[2021-01-28 21:44] #146 closed

[2021-01-28 21:44] timocov commented on #146
I think it's pretty similar to https://github.com/timocov/dts-bundle-generator/issues/134#issuecomment-699616069

[2021-02-10 12:27] igorpupkinable opened #147 "`declarationDir` compiler option fails generation"
I am trying to bundle type definitions, but get the following `error TS6053: File 'src/index.d.ts' not found.`
I run `yarn dts-bundle-generator --external-imports=react --out-file lib/index.d.ts src/index.ts` and it fails with this error.

My `src/index.ts` is just a simple import of reusable React components:
[code]

`src/Text/index.ts` content is
[code]

`src/Text/Body.tsx` content is similar in

[2021-02-11 10:32] timocov commented on #147
That's because the tool firstly compiles all sources to declaration files (in-memory) and then create a program for declaration files - this is how the tool works actually.

Also, what version of the tool you use? It seems that the issue is related to "outDir" folder (I noticed that source code is in `src` folder, but output for it is `lib/src`) but [the tool removes](https://github.com/timocov/dt

[2021-02-11 13:31] igorpupkinable commented on #147
Thank you for the reply.

Indeed, I use composite project, but it should not affect the matter, because bundle generator is executed with in the package itself.
Please find a cut down repo [here](https://github.com/igorpupkinable/dts-bundle-generator-issues-147).

It works if I generate type definitions upfront with `yarn test:types` and then build with `yarn build`.
You will see an output in `pac

[2021-02-11 18:38] timocov commented on #147
The reason is `declarationDir` compiler option. This is a bug, I'll fix it shortly. Thanks for reporting!

[2021-02-11 18:53] #147 closed

[2021-02-11 18:58] timocov commented on #147
The fix is just published with [5.7.0 version](https://github.com/timocov/dts-bundle-generator/releases/tag/v5.7.0).

[2021-02-23 19:12] igorpupkinable commented on #147
It works. Thank you for fixing.

[2021-03-17 05:01] bywo opened #148 "Does this support declaration merging?"
I tried it once with my codebase and it didn't work as expected, but I'm not sure if it's a bug or if I'm not using the tool correctly.

Here's my scenario:

[code]

[code]

[code]

I'm hoping that `dts-bundle-generator` can emit something like
[code]

or

[code]

I can put together a demo repo as well if that helps. Thanks!

[2021-03-17 05:38] timocov commented on #148
Yes, please. Also, you can takea look at this test case https://www.github.com/timocov/dts-bundle-generator/tree/master/tests%2Fe2e%2Ftest-cases%2Fextend-other-module, where I tested exactly your case and it seems that it works as you expect.

[2021-03-18 22:11] XingyangHuang opened #149 "yargs dependency is having the the security vulnerabilities"
**Bug report**
    "dts-bundle-generator": {
      "version": "5.7.0",
      "resolved": "https://registry.npmjs.org/dts-bundle-generator/-/dts-bundle-generator-5.7.0.tgz",
      "integrity": "sha512-sSFtdHL/G8y90wWRB8HCWPwdXXbToOuPLgON1q8f1+vXuiDdRez12M4RAf770dLWb05ekaFdYYGaT68jUU52zw==",
      "dev": true,
      "requires": {
        "typescript": ">=3.0.1",
        **"yargs": "^15.3.1"**

[2021-03-18 22:14] #149 closed

[2021-03-18 22:15] XingyangHuang commented on #149
ahh nvm see it is actually using the y18n 4.01

[2021-03-19 23:38] bywo commented on #148
I was able to create a repro case: https://github.com/timocov/dts-bundle-generator/pull/150

[2021-03-20 11:24] timocov commented on #148
@bywo Thanks! I'm able to reproduce issue now. This is a bug, I'll fix it soon.

[2021-03-20 16:19] timocov commented on #148
Fixed in #150

[2021-03-20 16:19] #148 closed

[2021-03-20 16:28] timocov commented on #148
The fix has been published in 5.8.0 version. Also, please take a look at this note https://github.com/timocov/dts-bundle-generator/pull/150#discussion_r598099780.

[2021-03-30 11:11] tianyingchun opened #151 "Throw error `Error: Cannot find symbol for node: ChainExpression`"
**Bug report**
while tsconfig.json set compilerOptions : {skipLibCheck: `true`}
[code]
it will throw error `Error: Cannot find symbol for node: ChainExpression`

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)
`dts-bundle-generator@5.8.0`
`typescript@4.2.3`

[2021-03-30 11:20] #151 closed

[2021-03-30 11:20] tianyingchun commented on #151
maybe it caused by npm 7

[2021-03-31 06:24] tianyingchun opened #152 "Wrong typings generated when import() is used for types"
**Bug report**

Bad Typings code generated `npx dts-bundle-generator src/index.ts -o index.d.ts`
[Sample demo is here ](https://github.com/tianyingchun/dts-bundle-issue/tree/master)

**Input code**

`src/index.ts`
-----------------
[code]

`src/fabric-utils/index.ts`
-----------------
[code]
`src/fabric-utils/set-debug.ts`
-----------------
[code]
`src/fabric-utils/type.common.ts`
----------------

[2021-04-03 13:22] timocov commented on #152
Am I right that the problem is that there are `import("./type.debug")` statements instead of actual types?

[2021-04-05 13:01] tianyingchun commented on #152
yes if i move these types into export file avoid import `types` it works fine. but i think import("./type.debug") is very common development experience. could you improve this behavior? allow us import `typing` from some individual typing files?

[2021-04-05 13:56] Kilcekru commented on #152
I have a very similar issue
The interesting part is that the type itself is correctly exported, so `FabricDebugCallbackData` instead of `import("./type.debug").FabricDebugCallbackData` would immediately work

[2021-04-05 14:30] tianyingchun commented on #152
@Kilcekru yes, FabricDebugCallbackData has been exported!:)

[2021-04-05 16:46] timocov commented on #152
I'll try to fix it.

[2021-04-08 16:13] RunDevelopment opened #153 "Private types are exported"
**Bug report**
This bundler exports private types. ("Private" as in "not exported". This has nothing to do with private fields.)

This is a problem because this means that you can no longer split one complex type into many simpler types.

**Input code**

This is a very simple example. In reality, `B` is reused across different exported types but kept private because it doesn't make sense on its ow

[2021-04-08 16:35] RunDevelopment commented on #134
@timocov I read through this issue and I think that this issue (#134) and the issues #139 and #146 describe different problems.

From what I understand, this issue is about that namespaced imports to **external** modules. However, #139 and #146 are about namespaced imports to **local** files. This bundler has to generate different code in those situations. While external modules should be referenc

[2021-04-09 16:28] alexandernanberg commented on #134
Added a failing test for this #154, trying to fix the actual issue too but having some problems understanding TS AST and where to put the fix 😓

[2021-04-09 16:49] RunDevelopment commented on #134
@alexandernanberg If you have trouble understanding TS AST, then [AST explorer](https://astexplorer.net/#/gist/f5e9733377d7e39e03c48bfe9e3a7628/382cc324f98d9f4ced6b12ab1bd7094488145a1f) might be helpful. Unfortunately, I can't help you with the fix.

[2021-04-09 20:37] timocov commented on #153
I think this is one of features why `dts-bundle-generator` exists 🙂 So you don't need to specify all exported types and you can specify the only several of them you'd like to specify and all other will be automatically exported. For instance here https://github.com/tradingview/lightweight-charts/blob/master/src/index.ts we don't export all types but just some of them which we have to export direct

[2021-04-09 20:50] timocov commented on #134
@RunDevelopment did you see that https://github.com/schleumer/dts-bundle-generator-tests/blob/e4a16a709215765dad6ba29c409336d428e24e01/broken-latest-ramda-and-cheerio/bundle.js#L17 these libraries are expected to be inlined, so we might treat them like a "internal" ones.

This is pretty easy case, but the problem is to handle something like this:

[code]

As you can see here we have 2 types of acc

[2021-04-09 22:58] RunDevelopment commented on #134
I didn't. My bad. In this case, all three issues are equivalent.

@timocov I see that your example is a little more complex but it is still solvable.

[code]

That being said, your example most certainly isn't easy to solve in general. The main problem is that the dependencies form a DAG (let's hope it's acyclic) which is much harder to handle than a tree. I don't know whether this will affect how

[2021-04-09 23:23] RunDevelopment commented on #153
That's the idea. I don't want them to be able to import them.

I sometimes have to write quite long and complex types. To make them more readable and to avoid code duplication, I split those complex types up into smaller helper types. These helper types should not be exported because they are only used to implement the complex type. If the implementation of the complex type changes, I might change

[2021-04-10 07:56] timocov commented on #153
Totally makes sense. Thanks for the clarification! I think we can add an option for that, something like `exportDirectlyUnexportedTypes` or so (maybe you can provide a shorter & better readable name, like `exportDependantTypes`), I think it should be used somewhere [here](https://github.com/timocov/dts-bundle-generator/blob/ad635cc4cd8396d1298e7614d1ec825c99694e55/src/bundle-generator.ts#L280-L287

[2021-04-10 07:56] timocov commented on #153
@RunDevelopment would you like to propose a PR with changes?

[2021-04-10 08:10] timocov commented on #134
Probably in this case we can add another limitation to the list in readme (if you use `* as NS` for some module, you have to use it everywhere in your code so it will be 100% safe, otherwise it _might_ produce wrong code). And it's better for you if you don't have names with the same name, but if you do, it might produce correct code in terms of compilation but wrong in terms of logic:

[code]

In

[2021-04-10 11:31] RunDevelopment commented on #153
Yes.

Then this should be documented for sure. You might want to tell people about your USP ;)

That's hard. Let me start by saying that `exportDependantTypes` is wrong. `dependant` means that the private types depend on other (exported) types. But it's the other way around, the exported types need the private types.

How about `exportReferencedTypes`? These types are exported because an exported

[2021-04-10 11:56] RunDevelopment commented on #134
Can't we fail instead of producing wrong code? People (e.g. I) rely on this being correct.

Frankly, I would love to do a deep dive into this. This seems like an interesting problem but I don't have the time right now. If this is still a problem in a few weeks from now, I'll do a PR.

[2021-04-10 18:44] timocov commented on #153
I think we can add a note for the brand new option which describes this behavior enabled by default.

Agree. I think `exportReferencedTypes` is much better for this case.

[2021-04-10 18:47] timocov commented on #134
If we can detect this then yes, I'd prefer to handle report an error for that for sure.

[2021-04-10 19:49] #153 closed

[2021-04-10 20:01] timocov commented on #137
It seems that TypeScript doesn't provide types for the compiler options which are inside json file (`ts.CompilerOptions` are options _after_ processing and converting them), so it seems that the only option we have is set it to `any` in types 😞

[2021-04-10 20:03] timocov commented on #130
Related to #116

[2021-04-10 21:02] RunDevelopment commented on #153
Thank you @timocov!

[2021-04-13 06:05] igorpupkinable commented on #50
Still trying to figure this out.

I have `packages/ui-core/types/import-svg.d.ts` with
[code]

I import it in `packages/ui-core/src/Input/Checkbox/Checkbox.tsx` like this
[code]

I have added `inlineDeclareGlobals: true` and `inlineDeclareExternals: true` in DTS config as well as `"include": ["./types"]` and `"typeRoots": ["./node_modules/@types", "./types"]` in TS config.

I still do not see `*.s

[2021-04-13 14:53] #152 closed

[2021-04-13 14:58] timocov commented on #153
The new version 5.9 has been published with the fix.

[2021-04-13 15:30] RunDevelopment commented on #153
I just tested it out and it worked beautifully as expected.

[2021-04-13 16:48] igorpupkinable commented on #50
@timocov I have look through issues including closed ones for a possible solution as well as examples and tests. Unfortunately, none have worked for the issue above. Do you have a working example with `*.svg` or `*.png` or any other extension to look at?

[2021-04-13 19:53] timocov commented on #50
@igorpupkinable can you create a repro please?

[2021-04-14 03:38] tianyingchun commented on #152
:) great news again!

[2021-04-17 07:23] igorpupkinable commented on #50
@timocov please find example repository [here](https://github.com/igorpupkinable/dts-bundle-generator-issues-50).
It does not contain any attempts or workarounds to include `*.svg` module, but you should get an error if you execute `yarn clean && yarn emit:types` from the root.

Is there anything else I can help you with?

[2021-04-26 06:52] igorpupkinable commented on #50
@timocov could you give any hints for the above please? Unfortunately, this is blocking our team to publish a core package.

[2021-04-27 19:26] timocov commented on #50
Hi @igorpupkinable, sorry for late reply.

First of all, please read https://github.com/timocov/dts-bundle-generator/issues/66#issuecomment-451776172 and https://github.com/timocov/dts-bundle-generator/issues/102#issuecomment-587349968 to see difference between how `tsc` and `dts-bundle-generator` work. So in your case `tsc` uses _all `.d.ts` files_ rather than `dts-bundle-generator` uses the only

[2021-04-28 13:22] mgambati opened #157 "Make typescript peer dependency"
I was trying to use `ts-patch` and `typescript-transform-paths` when I realized that ts-patch's install is not patching the typescript on this project because it's not a peer dependency.

There's any reason for this? Doesn't this make sense to allow the user to control the version it uses?

[2021-04-30 10:46] DataTables opened #158 "Star import results in an invalid type file"
**Bug report**

I've created a [demo repo](https://github.com/DataTables/dts-bundle-generator-star-import) to show the behaviour I'm seeing here.

In short the output from dst-bundle-generator looks like:

[code]

But you'll notice that there is no `api` defined, thus the d.ts file is invalid. This is due to the `import * as api from './api';`.

To reproduce in the repo:

[code]

Many thanks for a

[2021-04-30 10:59] DataTables commented on #158
Interestingly, I thought I might be able to workaround this by just naming the imports and that does appear to work:

[code]

gives:

[code]

But an alias doesn't:

[code]

gives (note that `myMethod` is still defined, but `thatMethod` is not - giving an invalid d.ts file):

[code]

Would you like this one in a separate issue? Apologies for finding them.

[2021-05-01 08:12] timocov commented on #157
What package manager and typescript version do you use? Afaik due `dedupe`'ing `typescript` should be moved to the top of your node_modules.

Also, moving typescript does not help for npm@7 for instance since it installs peer dependencies as well so it doesn't change anything.

You already can do that by specifying your typescript version in package.json file, because the tool uses [any supported

[2021-05-01 08:19] timocov commented on #158
Using `* as NS`/`name as otherName` imports for _local modules_ (which should be inlined) doesn't work at the moment because it requires to wrap modules/variables and/or rename them, see https://github.com/timocov/dts-bundle-generator/issues/134.

[2021-05-01 08:19] #158 closed

[2021-05-13 02:45] tianyingchun commented on #152
hi @timocov i have another question about this issue.  it seems that it lose `comments` while import() is used for types
[demo is here](https://github.com/tianyingchun/dts-bundle-issue/tree/master)
while run `npm run dts` build it genereated an correct index.d.ts for typings. but it lose some important `comments` for method.

tsconfig.json with `removeComment` :false,
actual result is :
[code]

ex

[2021-05-13 02:50] tianyingchun opened #159 "Lose Method Doc comments when import() is used for types withh `removeComments` false"
**Bug report**
Lose doc comments in `index.d.ts` while run `npx dts-bundle-generator src/index.ts -o index.d.ts`
**Input code**
 [Please see demo example here](https://github.com/tianyingchun/dts-bundle-issue/tree/master)

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
"dts-bundle-generator": "^5.9.0",

[2021-05-18 07:45] tianyingchun opened #160 "Lose generic typings for function paramter and return types"
**Bug report**

[Full demo code is here] (https://github.com/tianyingchun/dts-bundle-issue/tree/master)

**Input code**
[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
``` "dts-bundle-generator": "^5.9.0",```

[2021-05-22 16:17] timocov commented on #160
Hi there, sorry for late reply.

It seems that the compiler generates such code https://www.typescriptlang.org/dev/bug-workbench/?#code/PTAEAEGcAsHsHcCiBbAlgFwLACgQQCYCmAxgDYCGATueqrAHYBco6lAroTnlHEmuukL4AYqlKFmqekQAeAOnxz0kHFzDgAZmML1yyCaEiF0AWiIAjNgHMlK7KmQAHWJXSgA3qABSkBqAC+oBqUsMigAORywOgAno6EcsShyAzhANw4Ds6uHqDC5OaUqMQAIoSWVgDC5KSk5uTEANYlNOQANHkFRaXl1gDyjrQMkAFBIWGR0XEJFtbpqrgAVIs4oIugScj69M

[2021-05-22 16:20] timocov commented on #160
As you can see the compiler strips a generic parameters at all so probably it's the issue of TypeScript compiler not this tool.

[2021-05-22 16:21] timocov commented on #159
@tianyingchun I think expected and actual results should be reversed right?

[2021-05-22 16:23] timocov commented on #159
Actually the behavior looks correct - `setDebugStatus` from `fabricUtils` is not the same as the function `setDebugStatus` itself, if you'd like to have a JSDoc there you need to specify it explicitly.

[2021-05-24 02:54] tianyingchun commented on #159
yes, should be reversed :)

[2021-05-24 03:02] tianyingchun commented on #160
yes, i agree you , for latest typescript it seems have this bug, have you submit bug report to `typescript` team? 💯

[2021-05-24 10:56] timocov commented on #160
No, I don't. You can submit it and post a link here.

[2021-05-24 10:56] #160 closed

[2021-05-24 10:57] timocov commented on #159
Based on https://github.com/timocov/dts-bundle-generator/issues/159#issuecomment-846431281 I'm going to close the issue which is not a problem actually. If you'll have any updates, feel free to re-open it or post a comment.

[2021-05-24 10:57] #159 closed

[2021-05-24 10:57] timocov commented on #157
I'm going to close the issue. If you'll have any question or updates - feel free to re-open it.

[2021-05-24 10:57] #157 closed

[2021-06-11 14:31] benj3 opened #161 "Error: Cannot find symbol for node: JSX"
**Bug report**
Hi I am trying to generate the .d.ts file for a simple button react component when doing this i get a `Error: Cannot find symbol for node: JSX` in the console when running `dts-bundle-generator --verbose --config dtsconfig.json`

**Input code**

[code]

**Expected output**

[code]

**Actual output**
Doesn't compile.

ts config file:
[code]

dts config file:
[code]

Error Output:

[c

[2021-06-11 15:28] benj3 commented on #161
My bad was missing react here `"types": ["vite/client", "jest", "node"],`

[2021-06-11 15:28] #161 closed

[2021-06-18 09:39] aryaroudi opened #163 "[Feature] Make it possible to bundle all the entries in a single file and remove the generated file"
I expected to have the possibility to bundle all the entry files into a single file but I see unfortunately it is not possible! so I don't understand the point of calling this package a `bundler`? it generates a single file for each entry, so the bundle ability is missing or something is wrong with my config?

Also, it would be great to have an option to remove the generated `d.ts` files after bun

[2021-06-18 11:00] #163 closed

[2021-06-26 09:16] timocov commented on #163
@aryaroudi can I help you here somehow or the issue is solved now?

[2021-07-02 11:57] bluelovers commented on #137
https://github.com/bluelovers/ws-ts-type/blob/master/packages/package-dts/tsconfig-json.d.ts

[2021-07-30 20:02] TxHawks opened #165 "Retain TSDoc comments"
The current behavior is that Top-level comments are stripped away:

[code]

Which is a problem when wanting to use the top level comment blocks as code hints or to feed into a documentation generator.

It would be great if docblock comments could be retained.

[2021-08-04 02:31] chwech commented on #151
same issue, my npm version is 6.13.4. how to resolve this ?

[2021-08-04 02:31] chwech commented on #151
same issue, my npm version is 6.13.4. how to resolve this ?

[2021-08-05 04:06] tianyingchun commented on #151
cause of dts bundle will load all @types/* definitions, once any of @types item has broken it will break.
you can remove error with @types !

[2021-08-12 12:08] woutFrusch opened #166 "cannot process css"
I get the following error when using the generator: _TS2307: Cannot find module '' or its corresponding type declarations._ when I bundle a project containing at least one module which imports a css file.

When I run typescript (tsc) this error does not occur, I had to add a global.d.ts with declare module "*.css";

My question: can you bundle when there a css file? If so what am I doing wrong or

[2021-08-12 13:34] timocov commented on #166
Can you create a repro for this please?

[2021-08-12 13:47] timocov commented on #165
@TxHawks we have tests for that and it seems that they are all passed https://github.com/timocov/dts-bundle-generator/blob/19feb85f6b120327d677d29fc6d9ffa03feb3411/tests/e2e/test-cases/save-jsdoc/output.d.ts#L19-L22. Can you check the correctness of jsdoc and if they are correct then create a repro for that please?

[2021-08-12 13:51] timocov commented on #137
@bluelovers are these types auto-generated/related to the compiler's code and just manually-written and have to be updated on every TypeScript release?

[2021-08-12 13:59] woutFrusch commented on #166
yes, I commit it to github: https://github.com/woutFrusch/dts-test/

I used yarn as package manager

[2021-08-13 03:39] aaaaaajie opened #167 "issues: When the content of the entry file is export * from "path/to/file", the output declaration file is empty"
Example:
kernel/utils.ts
[code]
kernel/index.ts
[code]

dts-bundle.config.json
[code]
command `dts-bundle-generator --config ./dts-bundle.config.json`

Output file: ./dist/kernel/kernel.d.ts
[code]

This is my first time using this tool. I don't know if the method is wrong or the tool does not support this feature. I hope to get your help. Thanks a lot

[2021-08-13 03:52] aaaaaajie commented on #167
Additional remarks:
tsconfig.json
[code]

[2021-08-13 16:13] timocov commented on #166
See https://github.com/timocov/dts-bundle-generator/issues/50#issuecomment-412668288. You need to put `/// <reference path="../../global.d.ts" />` to all files where you're going to use your "globals". Let me know if you'll have any further questions.

[2021-08-13 16:13] #166 closed

[2021-08-13 16:14] timocov commented on #167
@aaaaaajie can you create a repro for that please?

[2021-08-16 02:20] aaaaaajie commented on #167
https://github.com/aaaaaajie/dts-bundle-generator-demo 😋

[2021-08-16 02:36] aaaaaajie commented on #167
The following code can achieve my needs,dts-bundle has not been updated 3 years ago, so I dare not use it boldly
[code]

[2021-08-17 14:46] timocov commented on #167
@aaaaaajie thanks!

As I can see, you use `export default` in your files and then export them as `export * from`, which might not work (as I tested), I meant you cannot import these exports after that.

As for `export * as name` thing - please see #134.

[2021-08-20 18:46] chrishoage opened #168 "Generated .d.ts does not import destructure react imports"
**Bug report**

Below I have supplied a minimal repo. In our project we destructure react types in our files. The output of the bundle does not include these imports causing a malformed d.ts

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

tsconfig.json
[code]

package.json
[code

[2021-09-16 15:33] facinick opened #169 "error TS2304: Cannot find name 'SomeCustomType' while trying to use custom declarations for js modules with no types."
Hello,

I have a node typescript project, below is my tsconfig.json at the root of my project:

<tsconfig.json>
[code]

I have exported all declaration files and their maps in `types` folder which is at the root of my project

As you can see I've added a file (`types/self_delarations.d.ts`) in include array in the above config. this file has types that I add for imported js libraries with no types

[2021-09-17 13:41] timocov commented on #169
Hi @facinick, could you provide minimal repro for the issue please?

[2021-09-22 16:34] timocov commented on #168
Hi @chrishoage,

sorry for late reply.

[code]

is this correct "expected" output for you? I just added `--external-imports react` to your command to get `./node_modules/.bin/dts-bundle-generator index.tsx -o index.d.ts --external-imports react` and it generates the code above, which looks correct for me, but I'm not sure whether it is good for you as well.

[2021-09-22 16:36] #167 closed

[2021-09-22 16:50] chrishoage commented on #168
That is mostly correct. I do recall trying that previously and it caused other issues. Unfortunately I have left the company for who I originally opened this GHI for so no longer have access to the complex case to illustrate what issues external-imports caused.

This section in the docs is what confused me

It wasn't clear to me why libraries from `@types` would not be imported.

We were trying to

[2021-09-23 11:35] timocov opened #170 "The default type of typings from `@types` should be "should be imported""
Based on https://github.com/timocov/dts-bundle-generator/issues/168#issuecomment-925105831, we need to change the default value for typings from `@types` to "should be imported" rather than "should be referenced" [somewhere here](https://github.com/timocov/dts-bundle-generator/blob/master/src/module-info.ts).

[2021-09-23 11:37] timocov commented on #168
I think that the reason was that some of packages which have types from `@types` don't export their API so they should be referenced as triple-slash directive types to load them (see old versions of jquery for instance, which wasn't a module back in days). For it was a long time ago, probably I need to change the default value for typing from `@types` to "should be imported #170.

Would be interes

[2021-09-23 11:37] #168 closed

[2021-09-26 08:30] igorpupkinable commented on #93
I have just experienced a bundling failure of a composite project. There are multiple packages in my monorepo:
- /packages/hooks
- /packages/ui-core (depends on hooks)
- /packages/form-components (depends on ui-core)

I all worked magically before without `form-components` because build order was satisfied accidentally.
`yarn workspaces run bundle-types` was executing bundling in alphabetical orde

[2021-09-30 14:49] facinick commented on #169
@timocov , could you please check the question above, I've added code with filename that's enough to cause the problem, I don't know what else to provide

[2021-09-30 15:01] facinick commented on #169
----------------- FOLDER STRUCTURE ---------------------

node_modules
src
.... types
.... .... self_declarations.d.ts
.... index.ts
package.json
tsconfig.json

--------------------------- CODE ---------------------------

**<src/types/self_declarations.d.ts>**
[code]

**<src/index.ts>**
[code]

**<tsconfig.json>**
[code]
---------------------DTS GENERATION STEP -------------------------

`dts-bun

[2021-09-30 15:03] facinick commented on #169
@timocov , this might help better ^^

[2021-10-20 09:56] PuruVJ opened #172 "export {} from 'module' not working"
**Bug report**
Hi, so I have this huge typescript file that just exports packages from other packages as it is. When I run dts-bundle-generator command on it errors out

**Input code**

[code]

**Expected output**

[code]

**Actual output**

<details>
  <summary markdown="span">click me to expand</summary>

[code]
</details>

**Additional context**
Command: `pnpx dts-bundle-generator -o index.d.ts

[2021-10-20 10:17] PuruVJ commented on #172
https://github.com/PuruVJ/just-get-everything/tree/feat/inline-dts

[2021-10-20 21:07] igorpupkinable commented on #168
Thank you for the details.

Perhaps I need to rephrase my question.
`allowedTypesLibraries: ['react']` option will only work with `const HellowWorld: React.FC = () => null;` code.

My library has over 100 components with `FC` type instead of `React.FC`. So `importedLibraries: ['react']` is the only working solution otherwise you get `lib/index.d.ts(1,18): error TS2304: Cannot find name 'FC'.` erro

[2021-10-20 21:47] timocov commented on #168
Yep, that's correct (and iirc this is the default behaviour for now right? I mean you don't need to even specify `allowedTypesLibraries` explicitly to achieve this, after #170 it will be changed).

[2021-10-31 11:23] timocov commented on #169
@facinick sorry for late reply. As I can see from your code, you declared a types for a package that doesn't have types in npm, right? What would you expect to have in the result here? Should `declare module 'my-awesome-js-library'` be inlined in your result bundle? Or maybe you'd expect to have only import statement from `my-awesome-js-library` package (but in this case, since this library doesn'

[2021-10-31 11:27] timocov commented on #172
Hi @PuruVJ, sorry for late reply. Is the issue still actual? It seems that the link you provided is no longer accessible.

[2021-10-31 11:29] PuruVJ commented on #172
Uhh yeah, I rolled my own method of scraping node modules and appending to one file 😅😅

I deleted that branch too cuz it wasn't needed anymore

[2021-10-31 11:29] #172 closed

[2021-10-31 11:58] timocov commented on #94
@igorpupkinable Sorry for late reply here.

The reason why this step makes the tool is working is that there are 2 "levels" of linking packages:
- fs symlinks, which are generated by yarn monorepo I guess
- TS `paths`, compiler-only "links"

It looks like they are applying in opposite order, i.e. `paths` are first, then fs symlinks. By removing `paths` you let compiler to use fs symlinks and that'

[2021-11-04 11:50] superdc commented on #169
I have the same problem。I have a component imported from @base/components which is not a npm package
[code]
It has custom declaration in module.d.ts
[code]
but when I use dts-bundle-generator, it has errors: Cannot find module '@base/components' or its corresponding type declarations. I want to know how to fix this error.

[2021-11-05 19:30] Rgnwld commented on #50
How can i work with images using this generator?
`error TS2307: Cannot find module 'UI/icons/menu.png' or its corresponding type declarations.`

i keep getting this error

[2021-11-05 19:33] Rgnwld commented on #50
How can i work with images with this bundle?
Can i just pass by file check?
`error TS2307: Cannot find module 'UI/icons/logo.png' or its corresponding type declarations`

[2021-11-05 21:02] timocov commented on #50
@Rgnwld please read this comment https://github.com/timocov/dts-bundle-generator/issues/50#issuecomment-827859386

[2021-11-05 21:03] timocov commented on #169
@superdc could you provide a repro for your case?

[2021-11-06 12:20] Rgnwld commented on #50
@timocov @igorpupkinable I finally got it working.
So, ive tried a lot to use /// <references> it doesnt work at all.

[2021-11-07 19:12] Uzlopak opened #173 "Other potential Error source for "Error: Cannot find symbol for node: x""
Hi,

first of all: thank for this great product.

tldr:
Instead of using named imports use dynamic imports when hitting the "Cannot find symbol for node"-Error.

long version:
I use it very intensive to create my definition files. I use it to create base packages, which get consumed by other packages, which get then get consumed by my projects.

When generating one of my base packages, which get c

[2021-11-07 23:14] timocov commented on #173
Hi @Uzlopak, do you have an example where I can reproduce the issue?

[2021-11-08 01:12] Uzlopak commented on #173
I tried to create a mvce by using npm link but the issue does not show up.

For my project I publish into a private artifact server. As such maybe fails to realize to use the @types/amqplib of the $actualPackage, which uses that $peerPackage and tries to look for some reason into the node_modules of the $peerPackage and as @types/amqplib is not in node_modules/$peerDependency/node_modules  when I

[2021-11-09 00:02] timocov commented on #173
@Uzlopak You can pack your package to tar.gz via `npm pack` command and then install it as a package (just a path to your tar.gz file in package.json), [see example here](https://github.com/puppeteer/puppeteer/blob/ad7f1de44f78df4a304c8e052935e53d4685530c/test-ts-types/js-cjs-import-cjs-output/package.json#L10).

To document something I need to understand it first. Right now I have no idea what is

[2021-11-12 06:51] tianyingchun opened #174 "Should dts configuration need to support ignore @types/a, @types/b .... pckages."
**Bug report**
Should dts configuration need to support ignore @types/a, @types/b .... pckages.

in some case, maybe @types/* package has some typings issues here  and our project don't dependent these issued packages, we can ignore it while `dts-genereate-bundle` initialize.

now if @types/* has any of issue typing package, the `dts-bundle-generator` is break down.
**Input code**

[code]

**Expec

[2021-11-12 09:36] timocov commented on #174
Could you provide an example please? I'm not sure that understood your issue

[2021-11-12 11:20] tianyingchun commented on #174
e.g.  i run cli `dts-bundle-generator` it will throw me below errors
[code]
BUT it caused by `node_modules/@types/eslint, eslint-scope,estree` has typings errors.

![image](https://user-images.githubusercontent.com/2833251/141458557-96ec49db-a6f0-4459-81a8-275bfa5a0731.png)

in fact in my `project` it will not use `@types/eslint, eslint-scope,estree` to bundle typings dependencies.

Resolttion:

m

[2021-11-12 11:53] timocov commented on #174
Afaik by default TypeScript will load all types to the program from `@types` folder. Have you tried to change https://www.typescriptlang.org/tsconfig#types compiler option to declare there only needed "global" types (if all types are modules you can set it to an empty array - in this case TypeScript will load only imported types).

[2021-11-12 18:11] #170 closed

[2021-11-12 18:13] timocov commented on #173
@Uzlopak do you have any news?

[2021-11-12 18:14] timocov commented on #165
I'm going to close the issue. If you'll have any question or updates - feel free to ping me.

[2021-11-12 18:14] #165 closed

[2021-11-12 18:16] Uzlopak commented on #173
Hi timocov,

I have to admin: No. I learn from this issue, that I should encapsulate my plugins better, so that I wont need any external typings anymore.

I close this issue, as it was a result of bad practice anyway.

Thank you for your time! Thanks again for the great product!

[2021-11-12 18:16] #173 closed

[2021-11-12 23:08] HarelM opened #175 "Allow ignore pattern? Respect module declaration file when there's no typings?"
This is an odd question/feature request, I know, but here goes anyway.
TL;DR the tool fails to work while tsc succeeds due to complex imports and missing typings, I think.
My project can be found here:
https://github.com/maplibre/maplibre-gl-js
I recently migrated the entire project to typescript.
This project is exported as a umd module using rollup after running tsc before hand.
Thus the typings

[2021-11-12 23:51] timocov commented on #175
Hi @HarelM,

How they should look like? fyi `dts-bundle-generator` has an option `--umd-module-name` to put typescript's umd name to the typings.

I think this comment https://github.com/timocov/dts-bundle-generator/issues/50#issuecomment-827859386 should put some light to your questions and probably help you with that. Especially, you need to explicitly declare these files somehow (I'd say you ne

[2021-11-12 23:54] timocov commented on #175
@HarelM Also, if you could share a branch and steps I need to use when the tool fails I can say you what you need to change (or even create a PR with changes).

Re this I'm not too sure how they should look like, so if you can provide examples before/after or incorrect/correct it would be helpful as well.

[2021-11-13 00:07] HarelM commented on #175
Thanks for getting back to me so quickly!
The typings before the migration looked like this:
https://github.com/maplibre/maplibre-gl-js/blob/1.x/src/index.d.ts
I hope to get similar results or at least something I can start working on to improve in order to get there.
The relevant PR and branch I'm working on in this one:
https://github.com/maplibre/maplibre-gl-js/pull/623
The following is the com

[2021-11-13 00:15] tianyingchun commented on #174
thanks very must point this, it make sense.

[2021-11-13 16:55] timocov commented on #175
Hi @HarelM.

I checked out your repo and branch you provided.

As a maintainer of `dts-bundle-generator` I do NOT want to force people to follow the same rules I follow in my projects (where I use `dts-bundle-generator` to bunde types) thus I have a question for you - have you tried other tools? You can find them in this discussion https://github.com/timocov/dts-bundle-generator/discussions/68, bu

[2021-11-13 19:27] HarelM commented on #175
Thanks again for investing the time and looking at my project! (I think my project can be a good test case for this tool in general, but that's a side note :-)).
I've tried to use the rollup plugin, but it seems to fail, maybe due to the complexity of the compilation of my project (there are several rollup plugins in use there), but also there's a problem if I decide to use `d.ts` files to declare

[2021-11-13 19:40] HarelM commented on #175
Forgot to mention, `Point` is defined in my project under `src/util/point.ts`, but it is referenced in the non-typed module as well.
I moved the import of `Point` To the begging of the file to solve this issue.
I still can't get pass the glsl problem though :-(
While looking forward to your answer I'll try and fix the duplicate names of the generated types I have...

[2021-11-13 21:02] timocov commented on #175
I should say that `dts-bundle-generator` could fail with the same issue. Looks like the reason of this issue that you cannot use json files in types (I mean in d.ts files, not in ts). I'm not sure, but just my guess.

@HarelM Please take a look at this [patch](https://github.com/timocov/dts-bundle-generator/files/7532717/patch.zip) (it was made a top of `ee99d3f5641da2fc631dc6ce953c3cb78f099480` c

[2021-11-13 21:45] HarelM commented on #175
@timocov Thanks again!
I reviewed the changes and the output file.
In the original version of the output umd file I see a main difference compared to the file you generated, I'm not sure what to do about it:
The original file, describing a umd module had the following lines:
[code]
And basically everything else was defined inside the namespace.
I'm not good with all the export stuff and rules, but

[2021-11-13 21:50] HarelM commented on #175
As a side note, and this is probably something I'll need to understand how to fix, is the fact that a lot of the code that is written is for both a web worker and the browser, there are two entry files that use common code which rollup understands and generate a common chunk which later on is used to automatically push the worker code into the main code.
It's very cool, but very "odd". So the `wor

[2021-11-13 22:14] timocov commented on #175
_Disclaimer: I'm not expert in exports and everything below is my understanding how it works._

To have `export = maplibregl;` instead of `export default maplibregl` you need to replace it [here](https://github.com/maplibre/maplibre-gl-js/blob/b1f0e830ed4ed040e338f44dbbaffcdb15334178/src/index.ts#L237).

`export as namespace maplibregl` is a thing which tells TypeScript compiler that a module/pack

[2021-11-13 22:15] timocov commented on #169
I'm going to close the issue. If you'll have any question or updates - feel free to ping me.

[2021-11-13 22:15] #169 closed

[2021-11-13 22:15] timocov commented on #174
I'm going to close the issue. If you'll have any question or updates - feel free to ping me.

[2021-11-13 22:15] #174 closed

[2021-11-15 15:44] HarelM commented on #175
Thanks for the detailed comment, and I'm sorry in advance about the fact that I use this issue as a support channel, let me know if you prefer that I do it somewhere else.
I've removed all the duplicate typings from the code (I hope) in the branch I referenced, There are still errors in the generated code which I probably need to solve later on, but at least I can start using the generated file to

[2021-11-15 16:19] timocov commented on #175
No worries, I'm happy to help.

@HarelM By default the tool collects all usages of all types and then checks what types are accessible from the entry point anyhow (including transitive deps of transitive deps of ...). So if in the generated file you don't have any usage of this type it won't be there unless you export it directly from the entry point. If it does have usage but not the type itself,

[2021-11-15 18:39] HarelM commented on #175
The problem with exporting a "big" object with all the types and exporting another type is that rollup doesn't like it and emit a warning, it also break some of the tests that are there to make sure everything is exported as expected...
It seems that the `Popup` which is exported as part of the main object is not exposed as public... :-/
Is there a way to make the tool export every class and type

[2021-11-16 22:27] HarelM commented on #175
I've used `awk` to replace text in the file in order to export all the classes.
Now I'm facing with missing types that are related to the events defined in `events.ts`.
This file is referenced from `map_event.ts` which is referenced from `handler_manager.ts` which is referenced from `map.ts` which is exported.
Can you clarify on the way things get picked up?
P.S. I tired to migrate to es but due t

[2021-11-17 09:57] timocov commented on #175
You cannot mark classes as exported if they aren't, it could lead runtime errors if someone will decide to use these classes in their app (not just for types). You need to explicitly re-export them from your entry point. (and the same for functions, enums)

As I said above this is not right and the only correct way to tell the tool that a class/function/enum should be exported - export them explic

[2021-11-17 10:23] HarelM commented on #175
Thanks for the info, I don't feel good about using awk and exporting the classes as you said, but I know this is how it should be in terms of typings, I just don't know how to achieve it using this tool... :-(
Relevant branch is the same one:
https://github.com/maplibre/maplibre-gl-js/pull/623
`improve-typings-for-2.0`
Using the above branch you can use the tool to generate the typings I'm current

[2021-11-18 22:46] timocov commented on #175
Hi @HarelM,

I think that the reason is that you don't export `Map` as esm export. You export it as a part of other object which is exported via `export default`. One of possible reasons why it cannot work is that es-modules doesn't allow you to change the export list, i.e. if something is exported you cannot "un-export" (remove from export). But if you're using an object as your entry export, you

[2021-11-18 22:47] timocov commented on #175
Of course using `InstanceType` is not so fancy/useful/beautify as just `import { Point }`, but at least this is correct from types prospective 😄

[2021-11-19 06:42] HarelM commented on #175
I think the main problem here is that the build has two phases - first it exports an object as amd and then bundles it into a umd module. So in theory I need to do something similar to the typings (this is the hack I did with the `export`).
I've merged all the changes I made to the main branch, the relevant part can be seen in a post build step:
https://github.com/maplibre/maplibre-gl-js/blob/ddf6

[2021-11-19 15:36] HarelM commented on #175
I did look at it, the problem is that I did a lot of changes since then and I'm not sure how to "re-fix" the errors. I adopted most of the changes you proposed, changed them a bit to have more meaningful names, but I'm not sure how to fix what's remaining unfortunately...
It seems that the typing are correct and the reference is fine. Is the root of the problem that the types are defined in the de

[2021-11-20 05:34] aboveyunhai opened #176 "`d.ts` missing property."
Hello, @timocov
first thx you for your hard work to create this package. it was pretty convenient to bundle a single ts without pain.
I installed `dts-bundle-generator` globally, and clone the following package,
and then add ` npm i @types/react --save-dev` to fix the missing dependency.
https://github.com/chakra-ui/chakra-ui/tree/main/packages/visually-hidden

After the generation without any pro

[2021-11-20 05:43] aboveyunhai commented on #176
To give some background behinds my intention, I currently want to use generator to create `d.ts` for monaco editor.  This was based on vs-code.
![image](https://user-images.githubusercontent.com/35160613/142715842-6eb87ae3-6851-4362-b2a3-2c0a11f4a1e7.png)
![image](https://user-images.githubusercontent.com/35160613/142715831-7ee1c341-cd28-4e05-93dc-c7406300359f.png)
It was amazing close!
My expecte

[2021-11-20 10:18] timocov commented on #176
Hi @aboveyunhai , if you look closer than you'll see that the code you expect is not valid since in typings variables couldn't have initializers:
https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4AocpAD0ljgBMk0AbFIuNCAOwGd4AbsF4BXFCxYBPABLAGTbgGUYklkgBciYjAB0AYUWKACjjBJYwJLzgBeOAG9ycOACNoTKJoBEABjDUvABonThZgMG8iDAAKP2pAuDiEpMT-AEogkIALJGAAcyyYbwBGf0znAHc5GCySsuDnEHY84G

[2021-11-20 12:06] timocov commented on #175
Albeit some of changes are still the same as in the previous patch, please take a look [at this one](https://github.com/timocov/dts-bundle-generator/files/7574482/patch.zip). You can run `npm run dts` to see the result. With this patch the generated types are correct and pass the compilation, but:
1. They CAN'T work, because some of types for packages you rely on are declared in your project and y

[2021-11-20 12:57] aboveyunhai commented on #176
@timocov thx, so based on what you mean, this kinds of initializer is invalid in typescript and it's more act like a description hint in this case. Am I right?
Or it's straight up a mistake?

[2021-11-20 14:04] timocov commented on #176
@aboveyunhai Not exactly. This kind of initializer is invalid in _declaration files_ only since they make no sense for anybody It doesn't matter what values are there, the more important is _what types_ (this is the purpose of typings). Declaration files are about types, not about an actual values.

Not sure that get what you meant here.

[2021-11-20 14:08] aboveyunhai commented on #176
Thx, my bad, you are right. I forgot it's declaration file and mess it up with regular typescript files.

[2021-11-20 14:12] #176 closed

[2021-11-22 03:42] bluelovers opened #177 "Monorepo packages support"
**Bug report**

**Input code**

[code]

**Expected output**

[code]

ICardOfLibraryBase
ICardOfLibrary
IOptions
DeckLibrary

should import from `mtg-decklist-to-library`

**Actual output**

https://github.com/bluelovers/ws-mtg/blob/master/packages/mtg-deck-shuffle/dist/index.d.ts

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2021-11-22 22:45] timocov commented on #177
It looks like it is related to https://github.com/timocov/dts-bundle-generator/issues/94#issuecomment-955686181 (monorepo support and how to handle them). Please a comment I mentioned, maybe you will have any thoughts how to handle it in a better way.

[2021-11-24 12:36] bluelovers commented on #177
@timocov where is the code of control output as import or not ?

i maybe can try fix it

[2021-11-24 19:15] timocov commented on #177
@bluelovers see https://github.com/timocov/dts-bundle-generator/blob/master/src/module-info.ts#L60-L115

[2021-11-28 14:47] HarelM commented on #175
Thanks for the info, I hope to get to it soon. You are right, we did copy the `Point` class instead of using the library since it was only one file and we thought it would be easier to use it instead of adding types to it since we don't have access to the `@mapbox/point-geometry` repo. I see the problem that it may cause as you said.
I did try and add typings to all the libraries we are using by P

[2021-11-28 15:26] timocov commented on #175
What do you mean here?

[2021-11-28 17:59] HarelM commented on #175
The definitely typed repo, I don't like it...

[2021-11-28 18:07] timocov commented on #175
But why? 🙂 I thought that it solves issues like yours where you have to write typings manually, but instead you can use what the community did for everybody, and this is even a npm package which you can use in your projects. Yeah typings themselves might be outdated sometimes, but I think this is reasonable, because there are millions (or at least hundreds of thousands) of packages. You can always

[2021-11-28 18:08] timocov commented on #175
But anyway, I believe I can close this issue now. If you'll have any updates/questions, feel free to post your update here.

[2021-11-28 18:08] #175 closed

[2021-11-30 07:58] Innei opened #178 "Lost gerenic type argument from `import()` statements"
**Bug report**

Hi, guys, I ran into two problems.

1. generator can't bundle generic types correctly when I not import generic type before.
2. path alias replace not working in `import(...)`.

I don't know how to describe him, please see the following code.

**Input code**

The following examples are composed of three files, I will comment the file names. And I used path alias in tsconfig.json. e

[2021-11-30 09:21] HarelM commented on #175
The idea behind definitely typed is solid and good, but the maintenance of this repo is extremely lacking, every issue I opened never got an answer. The repo is just too big to be properly maintained I guess...

[2021-12-05 16:25] timocov commented on #178
Hi there, sorry for late reply.

This is a bug, I'll fix it.

I'm afraid this is a bug of typescript compiler since it generates incorrect d.ts output. This statement `import("~/interfaces/request")` cannot work without your tsconfig so most likely this shouldn't be like that (it should be resolved to `./interfaces/request` for example like in the case 1). Thus please create an issue in https://gi

[2021-12-05 16:34] #178 closed

[2021-12-05 16:39] timocov commented on #178
The fix for case 1 was just released [in v6.2.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v6.2.0). Thanks for you report!

[2021-12-10 02:19] donmahallem opened #179 "Generate Source Map"
What do you think about providing an option to output sourcemaps for the bundled typings?

[2021-12-12 20:54] timocov commented on #179
Even though I cannot imagine use case for that (maybe you can provide?) I don't mind to have such option.

[2021-12-25 04:46] Innei opened #180 "missing enum type export"
**Bug report**

missing enum type export in dts.

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**

https://github.com/Innei/dts-reproduction

[2021-12-26 00:35] timocov commented on #180
Hi @Innei,

your expected output is not correct and here is why - by having `export declare enum EE` it says "your bundle has exported enum EE, which _could be used in JS_" (because enums have generated JS code for them). So with your expected result I should be able to do the following in JS code:

[code]
but instead it will raise a reference error because there is no exported member with name `E

[2021-12-26 00:35] #180 closed

[2021-12-26 00:37] timocov commented on #180
Also please see #56, I think this issue is kind of similar (or duplicate) of it.

[2021-12-26 05:20] Innei commented on #180
Thank you.

[2021-12-29 19:44] appsforartists opened #181 "Missing export keyword on destructured records"
**Bug report**

**Input code**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
If the destructured export has only one key, dts correctly includes the `export` keyword before `declare const`. When more than one key is exported, dts forgets to `export` them.

[2021-12-30 13:17] gamemaker1 opened #182 "`export ... from` does not work as expected with a default export"
Hi there! Thanks for creating and maintaining this awesome package!

---

### Description

When re-exporting the default export from another file, `dts-bundle-generator` does not `export default` the value.

See a minimal repro [here](https://github.com/gamemaker1/test/tree/dts-bundle-generator).

### Input Code

[code]

[code]

### Expected output

[code]

### Actual output

[code]

---

I'd be h

[2022-01-01 20:37] #181 closed

[2022-01-01 21:00] timocov commented on #182
@gamemaker1 Brilliant, go ahead! 🙂 It seems that it should be handled somewhere [here](https://github.com/timocov/dts-bundle-generator/blob/49a9b071d82053264984918c2c38b98ad2d8848f/src/bundle-generator.ts#L448-L453), but we need to avoid re-export from "outside" modules, i.e. `export { default } from 'package-name'` should be unchanged. Let me know if you want to processed with the fix, otherwise

[2022-01-01 23:35] timocov commented on #181
Released in [6.3.0](https://github.com/timocov/dts-bundle-generator/releases/tag/v6.3.0)

[2022-01-02 04:49] gamemaker1 commented on #182
I'll try getting a PR in this week - looks like I need to change some stuff in the ​`updateResultForRootSourceFile​` function in the file you linked. Thanks for the hint!

[2022-01-05 14:24] bazaglia opened #184 "Invalid bundle while using `import as` statements in the code"
**Bug report**

I'm trying to bundle the files outputted from a generator that I have no control over since it's an npm package (proto-loader-gen-types). It basically generates typescript definitions for a protobuf file. They only compose typescript types and interfaces.

The file that I use as my entrypoint imports other files using the syntax:

[code]

The problem is that dts-bundle-generator is

[2022-01-10 19:59] timocov commented on #184
Hm, looks like renaming issue which was the known limitation for a while but I don't remember why it was gone from readme.

The tool doesn't follow renamings so the code of all nodes except some keywords is the same as it was originally declared.

Probably it could be done via tricks like `type NewLocalName = Type` for types and `declare const newLocalName: typeof originalName;` for classes/functi

[2022-01-11 19:55] timocov opened #185 "Incorrect output if rename while re-exporting the default export without a name"
**Bug report**

**Input code**

**func.ts**:
[code]

**input.ts**:
[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
Add any other context about the problem here (CLI options, etc)

[2022-01-11 20:02] #182 closed

[2022-01-11 20:09] timocov commented on #182
The fix has been deployed as part of [v6.4.0 version](https://github.com/timocov/dts-bundle-generator/releases/tag/v6.4.0). Many thanks @gamemaker1 for all your work on this ❤️

[2022-01-24 10:13] manwithafox opened #186 "Extended interfaces from inlined externals are not picked up"
**Bug report**

**Input code**
_src/index.ts_:
[code]

_typings/reuse-me/index.d.ts_:
[code]

See [demo repo](https://github.com/manwithafox/demo-export-extended-interfaces)

(Exported) [base interface](https://github.com/manwithafox/demo-export-extended-interfaces/blob/d65062175047433035fba0dea13eb627c5fb3781/typings/reuse-me/index.d.ts#L3-L5) is not included in [final d.ts](https://github.com/ma

[2022-01-31 22:06] #186 closed

[2022-01-31 22:09] timocov commented on #186
Fixed in https://github.com/timocov/dts-bundle-generator/releases/tag/v6.5.0

[2022-02-19 21:54] nartallax commented on #165
@timocov as I discovered, this behavior can be observed if `"removeComments": true` is present in tsconfig.json.
I have this option turned on because I don't want comments in my generated JS code (most of the comments are for library developer and not for library user anyway), but when generating .d.ts I want to have the comments because that's documentation for user.
Is it possible to add option

[2022-02-19 22:01] timocov commented on #165
Well, I think the best solution here is to create another tsconfig, extend it from your one and override this setting. Did you try this?

[2022-02-19 22:03] nartallax commented on #165
I just had a hope that dts-bundle-generator will have such useful option.

Okay, thanks, I'll do it that way.

[2022-02-19 22:08] timocov commented on #165
Also related to https://github.com/timocov/dts-bundle-generator/issues/137

[2022-02-24 19:37] HarelM opened #187 "Generated types are not passing strict mode (I think)"
**Bug report**

Seems like the generated code is not passing angular compilation for some reason.
Generated file can be found here:
https://unpkg.com/browse/maplibre-gl@2.1.6/dist/maplibre-gl.d.ts
The following issue seems to describe well the steps to reproduce:
https://github.com/maplibre/maplibre-gl-js/issues/934
There are two unrelated issue which I'm not sure how to properly solve:
1. The fol

[2022-03-10 02:14] keyiis opened #188 "How to use in gulp?"
I want use dts-bundle-generator in gulp,but not work.
[code]
nothing happen,no output,no error

[2022-03-13 03:10] keyiis commented on #165
@timocov If possible, I also hope to add this function.like `gulp-typescript`
[code]

[2022-03-13 05:52] keyiis commented on #137
@timocov I fork your repo and added compilerOptions,please check https://github.com/timocov/dts-bundle-generator/pull/189

[2022-03-19 15:34] erdkse opened #190 "Watch support for dts files"
I would like to enter watch flag for '.d.ts' file changes.

So this package can run with automation tools easier.

[2022-03-27 11:27] timocov commented on #188
Please note that `outFile` option exists in [the config file only](https://github.com/timocov/dts-bundle-generator/blob/ac4e0e56b9030f0542ed6632e86231e3c82d0f1b/src/config-file/load-config-file.ts#L9-L13) (i.e. by using from the CLI) and it doesn't exist if you're using `generateDtsBundle`. In this case [this function will return you an array of content strings](https://github.com/timocov/dts-bund

[2022-03-27 11:27] #188 closed

[2022-03-27 11:37] timocov commented on #137
@keyiis it is not a problem to provide a way to override compiler options and just add an option for that. The problem we're facing right now is that it seems that it is impossible to provide proper types for that. If you use `any` it increases a chance to make a mistake or work with the tool incorrectly. This is the same if you don't use types at all (good example for this is [this issue](https:/

[2022-03-29 00:11] euberdeveloper opened #191 "How to use it with webpack?"
Is there an already made webpack plugin or something?

[2022-03-30 23:57] bigopon opened #192 "[bug] import type isn't discarded"
**Bug report**

**Input code**

[code]

results in an error merge:
[code]

[2022-04-01 03:46] keyiis commented on #137
@timocov I see what you mean, but my compilerOptions is dynamic and can't use fixed file description.

[2022-04-02 15:14] timocov commented on #191
I think you can fine some [here](https://www.npmjs.com/package/dts-bundle-generator):

![image](https://user-images.githubusercontent.com/3112183/161389659-74137ca6-490d-43dd-bc72-1b271533348e.png)

https://www.npmjs.com/browse/depended/dts-bundle-generator

[2022-04-02 15:14] #191 closed

[2022-04-02 18:28] #192 closed

[2022-04-02 18:34] timocov commented on #137
@keyiis as workaround I can suggest to write temporary file in your scripts and provide it as a tsconfig and then remove it later. We're here for types and it would be bad to provide `any` anywhere in the API or incorrect types IMO.

[2022-04-02 18:38] timocov commented on #190
100% agree. Last time I looked into this I found that watching API is quite different from "plain" compilation API and it might be hard to maintain 2 versions of this. I will probably look into this issue some time later, but no ETA or promise.

Any suggestions/help/ideas are welcomed!

[2022-04-02 19:51] timocov commented on #187
Hi @HarelM, I'm sorry for the late reply. Is it still the issue? I just tried to reproduce it and it seems to work now, most likely because of the fixes from your side. If so, is it possible to share what caused the issue? Thanks!

[2022-04-02 20:19] HarelM commented on #187
I've changed the code to workaround this issue but I think this is still an issue...

[2022-04-02 20:21] timocov commented on #187
Can you provide steps to reproduce the issue then please?

[2022-04-02 20:42] HarelM commented on #187
Take maplibre-gl code from before feb 24 (when the fixed was merge https://github.com/maplibre/maplibre-gl-js/pull/1023d).
And generate typescript definitions files:
`npm run generate-typings`
Take the d.ts file that was generated and try use it in an angular 13 project that uses strict mode (i.e. `ng new my-project`, `npm i maplibre-gl`, copy the `d.ts` file and try to build with `ng build`.)
I t

[2022-04-02 22:41] bigopon commented on #192
@timocov 👍

[2022-04-03 12:56] euberdeveloper opened #193 "Incorrect re-export statements while using `paths` compiler option"
**Bug report**

I am using custom paths such as `@/types` and the output .d.ts works, but has some lines that could be removed

**Input code**

This is the `main.ts`

[code]
And this is the `/types/index.ts`:

[code]

And this is the `/types/constants.ts`:

[code]

I omit the files relative to the utils, the situation is similar

**Expected output**

This is just the expected output relative to th

[2022-04-03 22:32] euberdeveloper commented on #193
**Update**:

It actually creates problem, if I have the flag **skipLibCheck** set to false in the `tsconfig.json`, I get the following error because of that in a TypeScript program using that as a dependency:

![image](https://user-images.githubusercontent.com/33126163/161451539-e3d4eb01-a41b-458f-a8fa-6474e0eebf45.png)

(Note that @/classes is due to part of the code that I hid in the previous ex

[2022-04-06 19:44] timocov commented on #193
Hi @euberdeveloper, is it possible to create a repo with the repro of the issue? Looks like [the provided link](https://github.com/euberdeveloper/gif-analyzer/tree/d49cf265a75c93dcf8c0fc3cce05ab2f712aee7c) doesn't work any more (or it is for the private repo? 🤔)

[2022-04-06 19:55] euberdeveloper commented on #193
Sorry, now it's public

[2022-04-06 20:23] timocov commented on #193
Thanks @euberdeveloper! It's a bug, I'll fix it soon.

[2022-04-06 20:48] timocov commented on #193
@euberdeveloper it looks like you're using `bundle-declarations-webpack-plugin` package that didn't update its `dts-bundle-generator` dependency to the next major version yet ([it is using v5 so far](https://github.com/dominicbirch/bundle-declarations-webpack-plugin/blob/87da9dc1cee68800f1aee575cd303cbd3fdc5022/package.json#L31)) so probably you'll need to deal with it later. The fix will be avail

[2022-04-06 21:00] #193 closed

[2022-04-06 21:01] euberdeveloper commented on #193
Ok thanks, maybe I will open an issue there and if he does not respond I'll fork it.

At this point, why don't you create an "official" webpack plugin yourself? It would be probably updated very soon (if the already existing are still maintained at all)

[2022-04-06 21:17] timocov commented on #187
@HarelM

Well, looks like the types you were using [here](https://github.com/maplibre/maplibre-gl-js/blob/51054671229c68d798fa06a64968aa35688f6a0f/src/render/uniform_binding.ts#L6-L11) couldn't be compiled so that's why you had this error. You can paste that code [to typescript playground](https://www.typescriptlang.org/play?#code/C4TwDgpgBAJA8gIwFYFkCGYA8AVKEAewEAdgCYDOUA3gL4A0UAYnoSRVABQBuAXFGsR

[2022-04-06 21:17] #187 closed

[2022-04-06 21:20] timocov commented on #193
The new version v6.7.0 was released just now with a fix.

[2022-04-06 21:25] timocov commented on #193
@euberdeveloper Good question, I think there were a few reasons initially:
- I wanted to keep the package free from unnecessary dependencies (in case of proving a webpack plugin I would need to add `webpack` to the deps list in some way)
- Otherwise the repo would need to switch to monorepo and provide plugins for other bundlers/tools as well and maintain them every time (not just update the versi

[2022-04-07 20:11] wKovacs64 opened #195 "Possible to skipLibCheck while still checking final output?"
Hi, and thanks for your work on dts-bundle-generator!

I am converting a Node project from Jest to Vitest and dts-bundle-generator is complaining about missing types for a transitive dependency. `vitest` installs `jsdom` which installs `ws`, and `@types/ws` are not included, so `ws` is of type `any`. I can fix it by installing `@types/ws` in my project, but I'd prefer an alternative since that pac

[2022-04-10 10:13] timocov commented on #195
Hi @wKovacs64,

I'm just curious how does it work with your project? Does it compile successfully? Do you have this flag `skipLibCheck` enabled locally? It looks like it should fail with your code in the first place.

If you refer to [the documentation of `skipLibCheck` option](https://www.typescriptlang.org/tsconfig/#skipLibCheck) you will see the following:

So this option does exactly what `--n

[2022-04-10 15:41] wKovacs64 commented on #195
The project compiles (and passes tsc type checking) just fine but dts-bundle-generator errors (because it can't find types for the `ws` transitive dev dependency) unless I enable `--no-check`.

Yes.

Hmm, I was under the impression enabling `skipLibCheck` would limit type checking to code specifically referred to in the project's source (so in this case, it would ignore any `ws` stuff since I don'

[2022-04-10 16:44] timocov commented on #195
@wKovacs64 Ah wait, I see what you mean. I misunderstood you, my bad.

It looks [the only place](https://github.com/timocov/dts-bundle-generator/search?q=skipLibCheck&type=code) that uses `skipLibCheck` flag is for [checking the result `d.ts` file only](https://github.com/timocov/dts-bundle-generator/blob/a0cb4e4e8332f95ad2cce232ccaca1c07064e6f5/src/bin/dts-bundle-generator.ts#L252-L261) so the to

[2022-04-10 17:17] wKovacs64 commented on #195
"unless it wants to check the result file" - this is the default behavior of dts-bundle-generator, correct? `--no-check` disables this? That's the problem, I believe. I _do_ want to check the resulting types bundle, but I _don't_ want to force `skipLibCheck` to `false` (due to missing types deep in node_modules that I don't really control). Doesn't look like that's currently possible, though.

The

[2022-04-10 17:28] timocov commented on #195
But this makes no sense. From my experience the compiler won't check anything in the result `d.ts` because this option explicitly says "Skip type checking of declaration files.". Is there anything specific you think it might check though? From what I've observed the compiler just replaces a module with `d.ts` (not just node_modules, but _any_ `d.ts` file) file with kind of `any` type.

[2022-04-10 17:34] timocov commented on #195
[Workbench example](https://www.typescriptlang.org/dev/bug-workbench/?skipLibCheck=true&ts=4.6.2#code/PTAEAEGcGsEsAcAysBGBhAFgUwMbQFygAuATgK5YBQlIEAZrADZYB2AhgLZaEDmjA9ijaMAjADoAJmKKRKE3IzYksoHPxaQioSG0gTCuibtABeUAG9QAXwDc1WuAbN2XQhzawW02Wo39mYgI8ABQ6egCUQA):

![image](https://user-images.githubusercontent.com/3112183/162631935-2b09d3ba-03c3-4115-92e5-b9178ac715c4.png)

![image](https://user-image

[2022-04-10 17:40] wKovacs64 commented on #195
Yep, you're right - that was the point of confusion. I was always under the impression `skipLibCheck` only applied to `node_modules` for some reason. 🤯 (I think because at one point, it was recommended as a solution if some types out of your control were incorrect or conflicting.) Well... now I need to go rethink my life. Sorry for the noise, and thanks for walking through it with me.

[2022-04-10 17:48] timocov commented on #195
No worries that's alright 😂 I understand your feeling - I was thinking exactly the same previously and I was quite surprised that it works in this way.

Btw this is exactly why I would never suggest to use this option - it might hide some important errors if you're relying on the compiler a lot (and its type system/errors).

[2022-04-10 17:48] #195 closed

[2022-04-17 19:47] wolfram77 opened #196 "Star re-export as namespace from local source files."
**Bug report**

The program i am working on is a main interface for on top of two (raw) sub-interfaces `http` and `websocket` (they represent the nature of connection, are not the http or websocket module). Each interface has a number of functions. The main interface provides a aggregate simpler set of functions that utilize the raw `http` and `websocket` functions. I export main iterface and re-e

[2022-04-18 06:16] sasial-dev opened #197 "Recursive Dependencies not Inlined"
### **Bug report**

**Input code**

*index.d.ts*
[code]

*.gitmodules*
[code]

**Commands Attempted**

`npx dts-bundle-generator -o dist/index.d.ts index.d.ts`
`npx dts-bundle-generator --external-inlines ws,discord.js,discord-api-types -o dist/index.d.ts index.d.ts`

**Expected Output**
Recursive Dependencies would be inlined.

**Actual output**

<details>
<summary>Errors:</summary>

[code]

</de

[2022-04-18 09:58] timocov commented on #196
Duplicate of #134

[2022-04-18 09:58] #196 closed

[2022-04-18 10:06] timocov commented on #197
That's because files outside of `node_modules` folders are treated as "local" files rather than external or dependencies.

@sasial-dev Is it possible to create a repro for your issue?

[2022-04-18 10:41] sasial-dev commented on #197
Of course!
Created a repro here: https://github.com/sasial-dev/recursive-dependencies-repro

[2022-04-19 14:58] timocov commented on #197
@sasial-dev thanks! As I can see from your repro, it doesn't have necessary deps installed to work. For example, `@types/ws` and `discord-api-types` aren't installed. The problem is that `skipLibCheck` compiler option is disabled in `@tsconfig/node16` so you don't see this issue while compiling the code. Just simply add `"compilerOptions": { "skipLibCheck": false }` to your `tsconfig.json` and you

[2022-04-19 15:10] timocov opened #198 "Incorrect keywords for non-exported abstract class"
_Originally reported in <https://github.com/timocov/dts-bundle-generator/issues/197#issuecomment-1102758873>_

**index.ts**:

[code]

**abstract-class.d.ts** (yes, it could be written manually and in `d.ts` file only):

[code]

**Actual output**:

[code]

**Expected output**:

[code]

cc @sasial-dev

[2022-04-19 15:10] timocov commented on #197
The last issue will be fixed in #198 shortly.

[2022-04-19 15:10] #197 closed

[2022-04-19 15:15] #198 closed

[2022-04-22 18:57] wolfram77 commented on #134
Hello @timocov does this conditionals help solve:
- Put in root namespace if no name collision
- Pack into a namespace otherwise
- The name of namespace can be the name it's exported with
- If it is not exported or has collision, pick a random namespace name

[2022-04-24 10:12] timocov commented on #134
@wolfram77 can you provide examples for each please? I'm not sure that I understood your point correctly, I'm sorry.

[2022-04-24 12:31] wolfram77 commented on #134
@timocov Please check the examples taken from above.

<br>

### Example 1

Original input:

[code]

This can be rewritten by wrapping `bar.ts` into a unique namespace as:

[code]

Since namespace `ts_bar` is used only once (one custom name), this can be simplified as:

[code]

<br>

### Example 2

Original input:

[code]

Can be rewritten as:

[code]

Which can then be simplified as:

[code]

Sinc

[2022-04-26 16:01] nsamsonov opened #199 "Inlined imports do not contain `import` statement from dependencies"
**Bug report**
I have my file and two libraries (`libA` and `libB`). `libA` imports some stuff from `libB`. I want `libA` to be inlined, while keeping import statements from `libB`.

**Input code**

myFile.ts
[code]

node_modules/libA/index.d.ts
[code]

node_modules/libB/index.d.ts
[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**
The import is generated using

[2022-04-26 18:42] nsamsonov commented on #199
It appears this is happening because of these lines:
https://github.com/timocov/dts-bundle-generator/blob/9676b66b7a693fcad1b99bf114cb6a6786876b36/src/bundle-generator.ts#L776-L778

Even though the declaration will eventually be inlined, it's still considered a part of the external lib

[2022-04-26 19:10] timocov commented on #199
@nsamsonov have you tried a previous versions? I guess it could be broken in one of the recent versions...

[2022-04-26 19:36] timocov commented on #199
@nsamsonov got it, thanks! I'll try to fix soon.

[2022-04-26 20:41] #199 closed

[2022-04-26 20:44] timocov commented on #199
@nsamsonov the fix has been published in https://github.com/timocov/dts-bundle-generator/releases/tag/v6.9.0

[2022-04-26 22:01] nsamsonov commented on #199
thanks a lot, it works great!

[2022-04-30 19:50] HarelM opened #201 "json import and re-export are ignored?"
**Bug report**

**Input code**

Style-spec code of maplibre which export all fields:
https://github.com/maplibre/maplibre-gl-js/blob/1e80b24c6490197cdb61b2538d36c9bb24c4647e/src/style-spec/style-spec.ts

**Expected output**
[code]

**Actual output**
[code]
**Additional context**
We are importing json files and exporting them as part of the package.
I know there are some discussions with node 16 ab

[2022-05-11 15:56] phaethon5882 opened #202 "If I reference an external library, can I combine the external libraries together into one d.ts file?"
Hi, I'm trying to bundle declaration file which import external library.
such as,
[code]
for bundle declaration file of '@playwrigh/test', i tried below,
`dts-bundle-generator -o playwright-test.d.ts --external-inlines=playwright-core ./node_modules/@playwright/test/index.d.ts`

but, i got the ouput like below,
[code]

Could you please tell me how to properly merge external libraries in this situa

[2022-05-12 20:20] timocov commented on #201
Hi @HarelM, sorry for late reply. Have you tried to use "correct" types in the project that doesn't have "resolveJsonModules" compiler options enabled? It looks like it might lead to compilation failures and the only way to solve them is to enable that option to disable checking d.ts files.

[2022-05-12 20:31] timocov commented on #202
@phaethon5882 it seems that you're trying to bundle a package from node_modules folder. If you want to inline everything from this package you need to declare that explicitly in `external-inlines` option. In your case, for "current folder" (or for you project's folder) `@playwright/test` is a separate package and if you want to inline everything from it into "your package" (in terms of a current f

[2022-05-13 03:41] HarelM commented on #201
Can you clarify? I'm not sure I fully understand your comment...

[2022-05-14 18:16] timocov commented on #201
@HarelM sure. Let's say you've published a project with the following structure:

**index.d.ts**:
[code]

**obj.json**:
[code]

And now you have a consumer's code that uses your package in their typescript code:

[code]

Depending on whether a consumer's code has enabled or disabled `resolveJsonModule` compiler option this code will either compiled or not. So your package might force people to ena

[2022-05-14 20:43] HarelM commented on #201
Thanks for the clarification!
The problem in our case is that this json object/file is very important to our customers and is an essential part of this library.
This json defines the specification of the library's style file, which is similar to a coding language, sort of...
Is there a way to extract type definitions out of a json object/file and have this as part of the d.ts file (thus reducing t

[2022-05-15 10:52] timocov commented on #201
Well, depends on a file you could either write them manually, create a script to generate them somehow (e.g. by using the compiler's API) or use something like https://jvilk.com/MakeTypes/ (but I didn't use it, this is just [the first link in google](https://www.google.com/search?hl=en&q=generate%20types%20for%20json%20typescript)) and inject it in your build steps.

Since this proper looks like o

[2022-05-15 10:52] #201 closed

[2022-05-15 12:51] timocov commented on #202
I'm going to close the issue. If you'll have any question or updates - feel free to ping me.

[2022-05-15 12:51] #202 closed

[2022-05-25 14:38] mattiaz9 opened #203 "Is `typeRoots` field ignored?"
I'm getting the classic error: `Cannot find module './assets/something.svg' or its corresponding type declarations.`

I have the declaration file for the svgs in a typings folder that I also added in the tsconfig:
[code]

[2022-05-28 11:00] timocov commented on #203
No, the tool uses it and there are even 2 tests cases for it https://github.com/timocov/dts-bundle-generator/blob/master/tests/e2e/test-cases/using-custom-types/tsconfig.json and https://github.com/timocov/dts-bundle-generator/blob/master/tests/e2e/test-cases/custom-types-folder/tsconfig.json.

Specifying `typeRoots` isn't enough to load types, it just tells the compiler where to start to lookup t

[2022-05-28 11:00] #203 closed

[2022-05-28 16:50] timocov opened #204 "Add support for the new `.d.mts` and `.d.cts` extensions"

[2022-05-31 05:59] sasial-dev commented on #197
I've come back to this, instead using discord.js from my package.json

<details>
<summary><code>package.json</code></summary>

[code]
</details>

Except, this command returns a lot of errors, and does not recursivly inlined the dependencies like intended.

<details>
<summary>Errors</summary>

[code]

</details>

I'm not sure if I've done ran -external-inlines wrong, or done something else wrong. `

[2022-06-02 11:01] timocov commented on #197
@sasial-dev can you create a repro please? I just don't want to guess what exactly do you have locally in each file and it would be much appreciated to save our time and create the complete repro. Thanks

[2022-06-02 11:30] timocov opened #205 "Incorrect keywords for non-exported enums (both simple and constant)"
**Bug report**

**Input code**

**index.ts**:
[code]

**enums.d.ts**:
[code]

**Expected output**

[code]

**Actual output**

[code]

**Additional context**

`--export-referenced-types false`

[2022-06-02 11:32] timocov commented on #197
@sasial-dev As for `error TS1046: Top-level declarations in .d.ts files must start with either a 'declare' or 'export' modifier.` error I found the issue and it will be fixed in #205. The rest of issues look related to the typings itself (again, from my guess what you might have locally). But feel free to report more context/repro so I can take a look.

[2022-06-02 11:32] #205 closed

[2022-06-02 22:13] sasial-dev commented on #197
Updated the repro: i essentially need to inline all deps so I can use the monaco editor. Thanks again!

[2022-06-02 23:24] timocov commented on #197
@sasial-dev all the deps, including these for nodejs? or only discord-related?

[2022-06-02 23:25] sasial-dev commented on #197
yep, including the node.js env eventually

[2022-06-02 23:27] sasial-dev commented on #197
actaully scratch that, considering i'll be sandboxing it: most of what I want will not be from the node-env; so i suspect it'll just be discord-related

[2022-06-02 23:27] sasial-dev commented on #197
haven't fully decided here

[2022-06-02 23:29] timocov commented on #197
I'm afraid it might be impossible by using this tool because of lack of renaming support.

If you add `export` to the const in `index.d.ts` file (so you will export anything from the entry file and the tool will inline the rest), if you run the tool like this it will work: `dts-bundle-generator --export-referenced-types false --external-inlines discord.js @discordjs/collection --inline-declare-ext

[2022-06-02 23:31] sasial-dev commented on #197
It's not possible to put each thing under stuff like a
[code]
etc?
I thought that's what `inline-declare-externals` did, but it didn't seem to work.

[2022-06-02 23:44] sasial-dev commented on #197
Thanks so much for your help! I'll keep trying...

[2022-06-02 23:45] timocov commented on #197
Can you put more details what's is the purpose of putting everything to one file? Isn't is possible to "emulate" fs and load different files instead?